[2013-08-10 21:08] rcano opened #1 "Context.typeCheck fails for macro annotations"
As you can see in this gist, with the most basic annotation macro it throws FatalError

[code]

[code]

[code]

[2013-08-11 16:40] xeno-by commented on #1
That's a limitation of the way how typechecking is implemented in the compiler.

It'd be hard to fix this in a compiler plugin, but luckily there's a simple workaround: you just need to wrap the expression you want to typecheck in a `Block`, and everything will work out.

Two more things that you might to consider:
1) By default `c.typeCheck` crashes on a typecheck error. You might consider passin

[2013-08-11 20:42] rcano commented on #1
Oh, thanks for the info, still, if it is that easy to work around, it sounds like something the compiler should do by itself. Also, in this gist I didn't put it, but  simply trying to typeCheck the whole annottee like:

c.typeCheck(annottees.head.tree)

would also throw a similar exception, and this time, the compiler was receiving a ClassDef, is that also fixed by using a block?

[2013-08-11 20:44] xeno-by commented on #1
Yes.

On Sunday, 11 August 2013, rcano notifications@github.com wrote:

[2013-08-30 23:08] xeno-by opened #2 "Macro annotations with explicitly provided type arguments don't expand"
https://github.com/aztek/scala-workflow/issues/2#issuecomment-23592994

[2013-09-03 20:05] stanch commented on #2
@xeno-by, this seems to work for me, but looking how complex everything around is, maybe you should do a sanity check :)

[2013-09-04 15:54] stanch commented on #2
The tests pass, however in console:

[code]

Hmmm?

[2013-09-04 16:15] xeno-by commented on #2
Macro annotations never worked in repl.

[2013-09-04 16:20] stanch commented on #2
Am I spoiled?

[code]

[2013-09-05 19:03] xeno-by commented on #2
I mean they will expand just fine, but it's that newly generated members won't be found by repl, and I'm not yet sure how to remedy that.

[2013-09-05 19:04] xeno-by commented on #2
Btw do you have an actual pull request? Can't find anything to merge. This is just an issue discussion, not a pull request discussion.

[2013-09-05 19:21] stanch commented on #2
Sure, I’ll submit one now. Just wanted to make sure that the REPL thing is not something extraordinary before that.

[2013-09-06 12:49] stanch commented on #2
I think we can close this now :)

[2013-09-06 12:50] #2 closed, assigned to nobody

[2013-09-14 19:10] rssh opened #4 "Error message about mismatch of identical expression when trying to return structural types with macroses defined in."
Next set of macro definitions:
https://github.com/rssh/scala-training-materials/blob/master/macro-experimental/misc/bugElProviderMin/src/main/scala/x/X.scala

When try to using one as specified in:
https://github.com/rssh/scala-training-materials/blob/master/macro-experimental/misc/bugElProviderMin/src/test/scala/tieSpec.scala

We see error message:
[error] /home/rssh/work/scala-training-materials

[2013-09-14 19:25] xeno-by commented on #4
Can reproduce the problem. Looking into it.

[2013-09-14 19:33] xeno-by commented on #4
Is reification of rtree in readingImpl intended?

[2013-09-14 19:37] xeno-by commented on #4
https://issues.scala-lang.org/browse/SI-7842

[2013-09-14 20:29] rssh commented on #4
Ohh, this is other issue.  [I guess yet one error in compiler]: when change reify to c.Expr I receive

[error] /home/rssh/work/scala-training-materials/macro-experimental/misc/bugElProviderMin/src/test/scala/tieSpec.scala:11: type mismatch;
[error]  found   : H0
[error]  required: Nothing
[error]     val tie = makeTie
[error]               ^

So, to put minimal compiled example I just put reify.

[2013-09-14 20:50] xeno-by commented on #4
c.Expr means c.Expr[Nothing]. Could you try providing a meaningful type?

[2013-09-14 21:07] rssh commented on #4
Hmm, I guess static type must be deduced.
See: http://stackoverflow.com/questions/14370842/getting-a-structural-type-with-an-anonymous-classs-methods-from-a-macro?rq=1
Type is deduced there.
I try to do something simular (with macrodefinition inside)

[2013-09-14 21:11] xeno-by commented on #4
Well, then write c.Expr[Any]

[2013-09-14 21:11] xeno-by commented on #4
And don't forget {} in `new H1 {}`.

[2013-09-14 21:21] rssh commented on #4
Wau !  with new H0 { }  instead new H0  it's works as expexted.  Thanks !

[2013-09-14 21:24] xeno-by commented on #4
Cool!

[2013-09-14 21:24] #4 closed, assigned to nobody

[2013-11-27 17:07] retronym opened #7 "Use of `companionSymbol` in custom namer leads to cyclic errors."
This code:

[code]

Leads to a cyclic error compiling Specs2 under Scala 2.11.0, which tries to initialize `sym.owner` if `!currentRun.compiles(sym.owner)`.

That check is buggy in the compiler.

Here's the error I saw:

[code]

Debug notes:

[code]

You could workaround this by checking for `!sym.owner.enclosingTopLevelClass.isRefinementClass` before you try to call that, and submit a patch to th

[2013-11-27 17:21] retronym commented on #7
What's worse, is that the subproject (`specs2-matcher`) that exhibits the failure itself does not include the macro-paradise plugin. However, if the entire project is built, which includes `specs2-matcher-extra` that _does_ add paradise as a compiler plugin, `specs2-matcher` is somehow compiled with the paradise namer.

![image](https://f.cloud.github.com/assets/65551/1633419/4f801b82-5788-11e3-88

[2013-11-27 17:37] retronym commented on #7
This might be stemming from some aspect of SBT's compiler caching, I'm checking with @harrah

[2013-11-27 17:38] retronym commented on #7
I'm working with: https://github.com/retronym/specs2/commit/f75bc21f20588239abf010cc2c8b65e2b7ac173e

[2013-11-28 08:07] retronym commented on #7
I found the SBT problem: the specs2 build defined an überproject that aggregates the sources/classpaths of all others. That's why saw paradise involved in compiling sources from other modules.

That said, this goes to highlight a funny problem with hacks/hijacking etc: it is much harder to know what to trust and who to blame. Even when the hack isn't to blame, it is! :)

[2013-11-28 08:54] xeno-by commented on #7
@retronym Thank you for the detailed investigation. Indeed, using paradise here led to unpredictable effects. How could we guard ourselves against them in the future?

[2013-11-28 09:12] retronym commented on #7
- use paradise only where needed. @etorreborre did all the work to get there with his internal modularization, the one residual problem is the überbuild that he has a a backwards compatibility mechanism for users that still want the one-big-JAR. I will submit a patch to his build that lets us remove that module altogether with a flag, and we'll use that to get our integration builds working.
- be

[2013-11-28 09:16] xeno-by commented on #7
Are you in Lausanne now? I could drop by, so that we could decide what immediate steps should be taken on my side.

[2013-11-28 09:20] retronym commented on #7
Still a few hours away. I'll drop by when I get there.

[2013-11-28 10:47] retronym commented on #7
Specs PR: https://github.com/etorreborre/specs2/pull/217

[2013-11-28 13:20] retronym commented on #7
The good news is that the standard 2.11 compiler is sufficient to build Specs; we just needed to conditionally disable macro-paradise. This shows that the effort to keep quasiquotes in from scala/scala in sync with those in paradise is worthwhile.

[2013-11-28 13:42] xeno-by commented on #7
@retronym @densh Maybe it would make sense to backport quasiquotes to 2.10.x?

[2013-11-28 13:53] retronym commented on #7
Didn't we have binary compatibility shackles that prevented that?

[2013-11-29 14:25] xeno-by commented on #7
@retronym We did, but maybe we can lift them, because in this particular case only compile time is affected, not runtime. What do you think? /cc @adriaanm

[2013-11-29 14:28] retronym commented on #7
I think we're better off focusing our attentions on 2.11 at this point.

[2013-12-03 19:53] adriaanm commented on #7
What Jason said.

[2013-12-09 16:22] xeno-by opened #8 "Can't add aliases to macro annotations"
http://stackoverflow.com/questions/20466161/adding-aliases-for-macro-annotations

[2013-12-09 16:28] xeno-by opened #9 "Compiler error when a macro-annotated class has a non-macro annotation and a companion object defined above it"
[code]

[code]

[code]

[2013-12-09 16:52] xeno-by commented on #9
As a workaround, move the definition of the companion object below the annotated class, and the error will go away.

[2013-12-16 22:37] xeno-by opened #10 "Double definition with a doubly-annotated class when usage is compiled before expansion"
Original report: https://groups.google.com/forum/#!topic/scala-language/tGDLO_TdX6s

Minimized reproduction:

Macros.scala

[code]

Test1.scala:

[code]

Test2.scala:

[code]

[2013-12-16 23:43] xeno-by commented on #10
Workaround: make sure that usages of the companion of the macro-expanded class are either compiled in a different project or their files come alphabetically later than the file of the macro-expanded class (swapping Test1.scala and Test2.scala fixes the problem).

[2013-12-17 12:12] xeno-by opened #11 "quasiquote helper injection in 2.10 paradise doesn't work well with sbt"
https://groups.google.com/forum/#!topic/scala-user/TLqlKXzxZIk

[2013-12-17 18:28] xeno-by commented on #9
Looks very related to #10

[2013-12-17 20:47] xeno-by commented on #10
Fixed in https://scala-webapps.epfl.ch/jenkins/view/misc/job/macro-paradise-nightly-2.10.3/153/console

[2013-12-17 20:47] #10 closed, assigned to nobody

[2013-12-17 20:53] xeno-by commented on #9
Actually it's only partially related. After I fixed #9, the "constructor definition not allowed here" is still there, although "foo is already defined as value foo" and "self constructor arguments cannot reference unconstructed `this`" are gone.

[2013-12-17 23:41] xeno-by commented on #9
Fixed in https://scala-webapps.epfl.ch/jenkins/view/misc/job/macro-paradise-nightly-2.10.3/154/console

[2013-12-17 23:41] #9 closed, assigned to nobody

[2013-12-18 18:01] Blaisorblade commented on #11
I applied the workaround, but I didn't put the files at the right place (inside scala/reflect/api), because I was lazy. That made SBT loop during compile! (First time in my life!)

That's as soon as I change a macro-containing file and it gets recompiled.

[code]

Using `last` after restarting SBT doesn't help; luckily there's `debug`. The important line in the output seems to be:

[code]

Output

[2013-12-18 18:04] Blaisorblade commented on #11
I partially retract the above, the problem is still there even with the files in `src/main/scala/scala/reflect/api` I get the same problem. This is with SBT 0.13.1. You should be able to reproduce by checking out [Blaisorblade/hoas-with-names](https://github.com/Blaisorblade/hoas-with-names/tree/bug/show-paradise-bug-11), branch `tree/bug/show-paradise-bug-11` — you need to modify the contents of

[2013-12-18 18:22] Blaisorblade commented on #11
I forgot: Should I open a separate bug?

[2013-12-19 22:05] xeno-by opened #12 "consider duplicating annotation expansions"

[2013-12-20 07:42] aparo commented on #12
May you expand the issue description?

Thanks

[2013-12-20 08:27] xeno-by commented on #12
It's a follow-up for https://github.com/scala/scala/pull/3257 and https://github.com/scala/scala/pull/3292.

Since trees are mutable, we have to be extra careful to avoid sharing them around, because otherwise a mutation from some faraway place in the code might end up hitting us unexpectedly. A proper solution would be rearchitecturing the compiler so that trees are immutable, but deep copying on

[2013-12-22 00:15] xeno-by opened #13 "macro annotations used in the same compilation run lead to confusion"
They just won't expand, without any sort of a warning or error message

[2013-12-31 20:40] xeno-by opened #14 "c.typeCheck doesn't see declarations from the current scope"
A very thorough discussion: https://github.com/aztek/scala-workflow/issues/2

Related SO questions: http://stackoverflow.com/questions/19379436/cant-access-parents-members-while-dealing-with-macro-annotations and http://stackoverflow.com/questions/19954776/scala-macro-annotations-c-typecheck-of-annotated-type-causes-stackoverflowerror

[2013-12-31 20:45] xeno-by commented on #14
There's an interesting twist to this story. If one tries to typecheck something that refers to the type parameters of the annottee, these type parameters wouldn't be taken into account: https://github.com/aztek/scala-workflow/issues/2#issuecomment-31295373

[2014-01-02 22:47] xeno-by commented on #11
@Blaisorblade Sorry I somehow missed your comments. I think let's keep just one issue.

[2014-01-02 22:50] xeno-by commented on #11
Btw, here's a new aspect of the problem, fresh from #scala.

The original idea behind generation of Liftables and QuasiquoteCompat as virtual files was that even if two different libraries both get those thingies generated, the resulting class files are going to be identical, so noone will notice anything. Unfortunately, it doesn't work this way.

The bytecodes and the meaningful metadata will ind

[2014-01-02 22:51] xeno-by commented on #11
Just promoted this issue to blocker, which means it's definitely going to be fixed by 2.0.0-final.

[2014-01-03 10:30] xeno-by opened #15 "backport advances in quasiquotes from 2.11"

[2014-01-10 14:13] Sciss commented on #1
Sorry, I don't understand. Should the following work?

[code]

Because that just gives me `Unit`, instead of the class. If I use

[code]

That gives `AssertionError` again.

[2014-01-10 14:48] xeno-by commented on #1
Could you post the input and the output trees printed using showRaw?

[2014-01-10 14:57] Sciss commented on #1
So I have

[code]

The `Unit` just came from `Block`. But still, `cd1.tpe` is not resolved:

[code]

Output:

[code]

This is with Scala 2.11.0-M7 and Macro Paradise 2.0.0-SNAPSHOT

[2014-01-10 15:08] xeno-by commented on #1
I'll answer at SO: http://stackoverflow.com/questions/21044957/type-of-a-macro-annottee

[2014-01-15 06:39] xeno-by opened #16 "better syntax for macro annotations"
I will not necessarily have time for this, but it could be useful to consider less verbose syntactic opportunities, e.g. returning a list of trees.

[2014-01-22 00:20] Blaisorblade commented on #11
Given your additional problem: what about simply moving that code into a small additional dependency, let's say `scala-reflect-paradise`, containing only those two files? Would that really be so inconvenient, or does it not work for some reason? It would allow me testing macro-paradise in bigger projects without waiting 2.0.0-final.

IIRC it's incompatible with OSGI because a package can't be spli

[2014-01-22 06:35] xeno-by commented on #11
Yes, that's what I was planning to do this week. Thanks for bringing up OSGI - I'd have overlooked it.

[2014-01-24 13:23] xeno-by commented on #11
Fixed in https://github.com/scalamacros/paradise/commit/f66c5fe747bfc2cb2bc9e180823383d75fbb2cd6. 2.0.0-M3 will be published shortly.

[2014-01-24 13:23] #11 closed, assigned to nobody

[2014-01-30 19:28] FlorianKirmaier commented on #14
since 2.0.0-M8 the situation is worse. The compiler crashes with the following error:
scala.reflect.internal.Symbols$CyclicReference: illegal cyclic reference involving object TNodeASDF

Here is a example: http://pastebin.com/raw.php?i=Svm11P10

[2014-01-30 22:32] aparo commented on #14
@FlorianKirmaier you are using java 1.8.0-ea. How is it stable?
Kudos to you of using 2.11-M8 on Java 1.8.0-ea :-)

[2014-01-31 02:42] xeno-by commented on #14
Thank you! I'll try to take a look today.

[2014-02-01 09:57] xeno-by commented on #14
@aparo Yeah, I can reproduce the error. I'll see what I can do.

[2014-02-01 10:01] xeno-by commented on #14
@FlorianKirmaier I get the same error in the most recent paradise for M7. When did it stop working for you?

[2014-02-01 13:27] xeno-by commented on #14
I see now. This problem is a direct consequence of the fix I applied above. It only manifests itself when there's an import in scope, which is why I missed it in the first place.

[2014-02-01 14:00] xeno-by commented on #14
@FlorianKirmaier @aparo Fixed the regression, started jenkins builds. The fix should be published with an updated 2.0.0-SNAPSHOT build for all supported Scala versions (2.10.3, 2.10.4-SNAPSHOT, 2.11.0-M7, 2.11.0-M8, 2.11.0-SNAPSHOT) within a couple hours.

[2014-02-12 09:04] xeno-by commented on #16
Also, getting annotation arguments is often unintuitive to the users.

[2014-02-12 11:13] xeno-by commented on #1
https://github.com/scala/scala/pull/3513

[2014-02-18 13:42] xeno-by commented on #1
https://github.com/scala/scala/pull/3551

[2014-03-21 21:09] xeno-by opened #18 "macro annotations don't expand in repl"
http://stackoverflow.com/questions/22549647/whats-the-right-way-to-generate-a-companion-class-de-novo-using-quasiquotes

[2014-03-21 21:11] xeno-by commented on #18
That's very strange, because I remember fixing exactly the same bug back then. Probably should make an effort to support partest-style tests for these situations.

[2014-03-21 21:17] xeno-by commented on #18
Here's what I get in paradise for 2.11 (well, at least 2.11 isn't susceptible to https://github.com/scalamacros/paradise/issues/13, so we get a clear error message instead of just a silent expansion failure):

[code]

Let's see what's going on.

[2014-03-21 21:19] xeno-by commented on #18
See https://github.com/scalamacros/paradise/commit/efefe00193

[2014-03-21 21:34] xeno-by commented on #18
Allright, that fix was about macro annotations defined in repl and not expanding afterwards. This issue is about macro annotations precompiled on classpath and not being picked up by repl.

[2014-03-21 21:43] xeno-by opened #19 "repl doesn't see new definitions synthesized by macro expansions"
That's because MemberHandlers don't communicate with the compiler about the code that it compiles user input into, but rather try to guess what definitions will be introduced by parsing user input. No idea how hard this will be to fix.

[2014-03-21 21:48] xeno-by commented on #18
Fixed in https://github.com/scalamacros/paradise/commit/d9387f051d9bf473a2c1cb0ed17987b749c536e4. Note that https://github.com/scalamacros/paradise/issues/19 still remains.

[2014-03-21 21:48] #18 closed, assigned to xeno-by

[2014-03-22 06:36] xeno-by commented on #19
Also needs to work with SBT

[2014-03-22 08:08] xeno-by commented on #19
Fixed in 5a10b96815

[2014-03-22 08:08] #19 closed, assigned to xeno-by

[2014-03-22 08:26] xeno-by commented on #13
This is similar to a bigger problem that is about macro annotations not expanding if paradise is not enabled, which is fixed in 2.11.0, where macro annotations are automatically annotated with `@compileTimeOnly` and can't be fixed in 2.10.x without modifying the compiler.

upd. Well, sort of fixed, because `@compileTimeOnly` errors are only reported if typechecking has been successful, so compilat

[2014-03-22 08:35] xeno-by commented on #1
Since this is fixed in 2.11.0-RC1 and is about to be merged into 2.10.5, I'm closing this issue.

[2014-03-22 08:35] #1 closed, assigned to nobody

[2014-03-22 09:00] xeno-by commented on #7
Fixed in 22c6badba5

[2014-03-22 09:00] #7 closed, assigned to nobody

[2014-03-23 00:48] xeno-by commented on #15
Fixed in https://github.com/scalamacros/paradise/commit/82eb5103073039b0ecbaf65386a76c22c35180e6 and similar commits on other branches.

[2014-03-23 00:48] #15 closed, assigned to nobody

[2014-03-23 00:49] xeno-by opened #20 "quasiquotes in paradise 2.10.x have a number of known issues"
As per recent commit message at https://github.com/scalamacros/paradise/commit/82eb5103073039b0ecbaf65386a76c22c35180e6:

port quasiquotes from 2.11.0-RC3 to paradise 2.10.x
Known issues:
1) Standard liftables don't come bundled with scala.reflect.api.Universe,
but have to be imported or mixed in (import scala.quasiquotes.RuntimeLiftables._
or extend scala.quasiquotes.StandardLiftables).
2) Patter

[2014-03-23 00:50] xeno-by commented on #15
Also see https://github.com/scalamacros/paradise/issues/20

[2014-03-23 07:41] som-snytt commented on #19
That was interesting.

[2014-03-23 08:52] xeno-by commented on #19
@som-snytt No idea whether that's the best approach. Just something that I had to quickly hack up. I've seen Paul's comment that suggests he wanted to use trees after typechecking, but left that for future work. Maybe you happen to know details?

[2014-03-23 09:31] som-snytt commented on #19
My prototype repl using a "scripter" phase would collect trees at the end of the pipeline, as a followup to that comment.  Maybe I'll try to get back to it during the RC interregnum. The idea was the scripter is pluggable, so repl just waits to see what sausage is produced.

[2014-03-23 16:46] stanch opened #21 "Liftable[Tree]"
I’m on `2.10`, paradise `M4` (soon to be `M5`). I would like to unquote `List[Tree]`. However it looks like either there is no `Liftable[Tree]`, or some path-dependent magic stops it from happening. I guess in the former case the solution is easy. If it’s because of the latter, maybe some evidence-based trickery would help? Like `implicit evidence: A =:= u.Tree`.

[2014-03-23 16:48] stanch opened #22 "M4/2.10 quasiquotes fail at runtime"
Just to track [this](https://groups.google.com/d/msg/scala-language/BM1EPrZY3Hk/QwDmZ4Aj9l4J):

[code]

[2014-03-23 17:01] stanch commented on #21
P.S. This works for me:

[code]

[2014-03-23 17:35] xeno-by commented on #22
Fixed in 46cd0f96c1, will soon be deployed in 2.0.0-M5.

[2014-03-23 17:36] xeno-by commented on #21
Could you provide a use case? /cc @densh

[2014-03-23 17:56] stanch commented on #21
Sure. Consider this simple structure:

[code]

Suppose we are writing a compile-time string interpolator, that builds a `Node`:

[code]

When building this with quasiquotes, we need to unquote

[code]

which is a `List[Universe#Tree]`.

Now, `List[A]` is `Liftable` if `A` is `Liftable`. However, looking at the sources, there is no `Liftable[Tree]`, maybe because one can unquote it anyway. But the

[2014-03-23 18:04] stanch commented on #22
Updated, now getting

[code]

Maybe this is something on my side? The code is here: https://github.com/stanch/scalatags-md. Happens when you run `sbt test`.

[2014-03-23 18:07] stanch commented on #22
A snapshot would be very nice :) There is a benefit for you as well in that I would (or wouldn’t) confirm that there are no more hidden surprises left :)

[2014-03-23 18:11] stanch commented on #22
Just FYI, http://scalamacros.org/news/2014/03/23/macro-paradise-2.0.0-M4.html does not display the layout for some reason...

[2014-03-23 18:24] xeno-by commented on #22
Thanks, fixed the layout and published `2.0.0-SNAPSHOT` against all supported branches.

[2014-03-23 18:25] xeno-by commented on #22
If everything ends up working for you, I will publish `2.0.0-M6` one of these days.

[2014-03-23 18:25] xeno-by commented on #22
Also, thanks a lot for testing things out!

[2014-03-23 18:34] stanch commented on #22
You are welcome! But...

[code]

:D

[2014-03-23 18:51] xeno-by commented on #22
That's a different error, which makes me kind of happy :)

How do I reproduce it?

[2014-03-23 18:52] stanch opened #23 "[DEL]"
Perhaps not an issue, but there is a small caveat with standard `Liftable[Map]`, which is that `Map` is not a leaf collection type. So e.g. `SortedMap` will happily use this `Liftable` and turn into `Map(...)` instead of `SortedMap(...)`. In most cases this will be probably discovered during compilation of client code. I don’t know what would be the best solution, maybe write liftables for other m

[2014-03-23 18:54] stanch commented on #22
You can clone https://github.com/stanch/scalatags-md and run `sbt test`. I’m on Java 6, as you already know. Old snapshots in Ivy cache cleaned.

[2014-03-23 18:57] stanch commented on #23
Terribly sorry, please disregard this. I was fooled by my code compiling, but in fact I just don’t have `SortedMap`s anymore! And of course `Liftable` is invariant.

[2014-03-23 18:57] #23 closed, assigned to nobody

[2014-03-23 18:57] xeno-by commented on #20
Looks like we do need to fix the limitation number 1 (using the same technique as we use to inject `Liftable` and `Unliftable`), because that's going to be quite unintuitive to the users (I've already got a couple of questions).

[2014-03-23 18:59] xeno-by commented on #22
Okay, thanks! These days I will be very occupied by EPFL stuff, but I'll do my best to take a look.

[2014-03-23 19:08] stanch commented on #22
Thanks! I will not _really_ need this until next week, when I’m going to prepare _Macroid 2.0_ documentation.
Perhaps the issue should be reopened?

[2014-03-23 21:47] holograph commented on #22
Another reproduction scenario: https://github.com/wix/accord/tree/paradise-2.0.x

[2014-03-23 23:16] xeno-by commented on #22
Minimal reproduction:

[code]

[code]

[2014-03-24 05:34] etorreborre opened #24 "M4/2.10 quasiquotes compiler error"
Following [this suggestion](https://groups.google.com/d/msg/scala-language/0PhHUF8bFDQ/Y_rmhMi-PTIJ) I tried to move my code to use the `StandardLiftables` but I end up with a compiler error:

[code]

[2014-03-24 05:40] stanch commented on #24
Could you post the code? Maybe I could help, having insomnia anyway :)

[2014-03-24 05:45] stanch commented on #24
https://github.com/etorreborre/specs2/blob/b767765a3512c4fd9adbe4007bcf1f0091a68984/matcher-extra/src/main/scala/org/specs2/matcher/MatcherMacros.scala#L30

Should not this be

[code]

(Just a random thought)

[2014-03-24 05:53] etorreborre commented on #24
You're right, the annotation is missing. But then the error becomes:

[code]

[2014-03-24 05:59] stanch commented on #24
https://github.com/etorreborre/specs2/blob/b767765a3512c4fd9adbe4007bcf1f0091a68984/matcher-extra/src/main/scala/org/specs2/matcher/MatcherMacros.scala#L34

Ok, next question: where does `matcherClassType` come from? (I know it’s in `MakeMatchers`)
Kinda strange though, that it compiles (oh, wait, it does not...)

[2014-03-24 06:04] etorreborre commented on #24
Doh! Ok, fixed in [de91850](https://github.com/etorreborre/specs2/commit/de918508d52caa1062e40aafaee95ddcc9a87783). With the same error though. But maybe my "fix" is not correct anyway. I'm actually doing other things at the moment and should take some time to rewrite all of this properly with `StandardLiftables`.

[2014-03-24 08:53] xeno-by commented on #24
Thanks for reporting guys! Normally I'd get right at fixing this stuff, but I'm completely tied up in the beginning of this week, so it'll have to wait a bit. I'll do my best to take a short look today or tomorrow though.

[2014-03-24 09:00] densh commented on #21
I've suggested having identity liftable for `Tree` too but @xeno-by wasn't sure if it's the right way to do it.

https://issues.scala-lang.org/browse/SI-8200

[2014-03-24 11:03] etorreborre commented on #24
No worries, take your time.

[2014-03-24 13:58] xeno-by commented on #21
I suggest we move this discussion to the aforementioned JIRA issue.

[2014-03-24 13:58] #21 closed, assigned to nobody

[2014-03-24 14:02] xeno-by commented on #24
Okay, I know what the problem is, but to solve it I need to have the compiler plugin depend on the quasiquote library. Unfortunately, sbt won't understand this sort of dependencies, so I need to merge `paradise.jar` and `quasiquotes.jar` into `paradise.jar` and publish the merged jar.

Here's my naive stab at it: https://github.com/scalamacros/paradise/blob/95cfba025b452d5bc0b65004cab307ffee41118f

[2014-03-24 15:03] densh commented on #21
@stanch thanks for feedback, here is pull request to master to add suggested Liftable: https://github.com/scala/scala/pull/3653.

[2014-03-24 15:15] densh commented on #21
By the way recommended way to do this if that pr doesn't get in is:

[code]

`Liftable[Tree]` won't work if you have more specific type like `ClassDef` due to the fact that `Liftable` is invariant in its type argument.

[2014-03-24 15:47] stanch commented on #21
For the record, here’s a motivation for this choice that I wrote while on a train. Wanted to post to JIRA, but then I need to sign up, etc. And you’ve already gone ahead anyway.

[2014-03-24 19:45] dragos opened #25 "Crash with multiple output directories"
Not sure if this is the right place to report this, but I get the following crash in Scala IDE, when building the code found here: https://bitbucket.org/ericpeters/serializer (using 2.10 and macro paradise). I couldn't find `embeddedFile` anywhere in this repo, but I have no idea where else to start. :)

Multiple output directories are probably not used widely, but the IDE still relies on them. On

[2014-03-24 20:00] xeno-by commented on #25
Looks like the project uses an old version of paradise. Starting from `2.0.0-M3`, we don't magically generate liftables out of thin air (which is what `embeddedFile--Liftable.scala...` things indicate to be happening).

[2014-03-24 20:07] #25 closed, assigned to nobody

[2014-03-24 22:18] xeno-by commented on #22
Allright nailed it: https://github.com/scalamacros/paradise/commit/7dfce72cd3e2d4fc3caddc527bc096ff2d4dd6e0. Could you guys redownload the snapshot and try again?

[2014-03-24 22:22] #22 closed, assigned to nobody

[2014-03-24 22:28] stanch commented on #22
Confirmed, thanks a lot!

[2014-03-24 22:29] xeno-by commented on #24
@etorreborre Okay, I fixed the blocker that Nick has reported in the nearby thread. Hopefully will be able take a look at this one soon. Am I right in understanding that it only crashes on the code that wouldn't have compiled anyway? Also, what sha do I need to check out to reproduce this?

[2014-03-24 22:32] etorreborre commented on #24
@xeno-by the latest branch I have, which I think is compiling and crashing is [de9185](https://github.com/etorreborre/specs2/commit/de918508d52caa1062e40aafaee95ddcc9a87783).

[2014-03-25 17:22] xeno-by commented on #24
@etorreborre Explicitly specifying the type argument for `MakeMatcher` as outlined below fixes the problem. Looks like a bug in Scala's implicit search. I'll be closing this issue and will try to compose a minimized reproduction for JIRA.

[code]

[2014-03-25 17:22] #24 closed, assigned to nobody

[2014-03-25 19:57] xeno-by opened #27 "backport https://github.com/scala/scala/pull/3637"
https://github.com/scala/scala/pull/3637

[2014-03-25 19:57] xeno-by opened #28 "backport https://github.com/scala/scala/pull/3647"
https://github.com/scala/scala/pull/3647

[2014-03-25 19:58] xeno-by opened #29 "backport https://github.com/scala/scala/pull/3652"
https://github.com/scala/scala/pull/3652

[2014-03-25 19:58] xeno-by opened #30 "backport https://github.com/scala/scala/pull/3653"
https://github.com/scala/scala/pull/3653

[2014-03-25 20:23] xeno-by commented on #14
Unfortunately I haven't made any progress here, so we won't have a fix in 2.0.0-final. Any ideas are very welcome!

[2014-03-25 21:56] etorreborre commented on #24
Thanks Eugene for the debugging, this works fine now (and thanks @stanch for having a look at it too)

[2014-03-25 22:01] xeno-by commented on #24
Thank you very much for your help!

[2014-03-25 23:04] etorreborre commented on #24
Actually I have one more question on M5. In 2.10.3 `StandardLiftables` comes from `org.scala.quasiquotes`. But there is no `org.scala.quasiquotes` in 2.11 so my code is not compiling anymore for 2.11. What should I do?

[2014-03-25 23:38] xeno-by commented on #24
In M4 and M5 it's `scala.quasiquotes`. I had to change the package name to access some important `private[scala]` methods.

[2014-03-25 23:44] etorreborre commented on #24
I mean what is it in 2.11? How can I keep the same code under both 2.10 and 2.11?

[2014-03-25 23:45] etorreborre commented on #24
At the moment the build is [failing](https://travis-ci.org/etorreborre/specs2/jobs/21546675) with 2.11 because the `org.scala.quasiquotes` package is unknown.

[2014-03-26 11:56] etorreborre commented on #24
Should we reopen this issue or open another one? Because unless I'm wrong this is going to be a problem for codebases across 2.10 and 2.11.

[2014-03-26 12:01] xeno-by commented on #24
I guess this falls under https://github.com/scalamacros/paradise/issues/20

[2014-03-26 12:19] xeno-by commented on #24
Yes, indeed, this is not source compatible with 2.11. In 2.11, StandardLiftables are part of the universe cake, and programmers need not to refer to them - they are enabled by default. I'll see what can be done about that, so that we get the same beavior in 2.10.

[2014-03-26 13:06] etorreborre commented on #24
Cool, thank you.

[2014-03-26 22:23] er1c commented on #25
Pretty sure we're using the 2.0.0-SNAPSHOT:

// NOTE: -optimise breaks the macro-paradise plugin in weird ways
scalacOptions := Seq("-unchecked", "-deprecation", "-language:implicitConversions,experimental.macros", "-feature")

// Enable the Macro Paradise Compiler Plugin
libraryDependencies += compilerPlugin("org.scala-lang.plugins" % "macro-paradise_2.10.3" % "2.0.0-SNAPSHOT")

[2014-03-26 22:30] xeno-by commented on #25
This is the old version of paradise. The new one lives at `"org.scalamacros" % "paradise" % "2.0.0-M3"`: http://docs.scala-lang.org/overviews/macros/paradise.html.

[2014-03-26 22:58] er1c commented on #25
Thanks xeno, got that updated and the original error does go away, still have a test error:

"Description    Resource    Path    Location    Type
erroneous or inaccessible type  TestProtobufRaw.scala   /fm-serializer/src/test/scala/fm/serializer/protobuf    line 99 Scala Problem
"

Is this an IDE problem or paradise problem?  Wish there were more details

[2014-03-28 15:19] xeno-by opened #31 "backport https://github.com/scala/scala/pull/3656"
https://github.com/scala/scala/pull/3656

[2014-03-28 15:19] xeno-by opened #32 "backport https://github.com/scala/scala/pull/3657"
https://github.com/scala/scala/pull/3657

[2014-03-28 15:20] xeno-by opened #33 "backport https://github.com/scala/scala/pull/3659"
https://github.com/scala/scala/pull/3659

[2014-03-28 17:34] gkossakowski commented on #24
The source incompatiblity issue made community build fail due to specs2. We've stopped tracking specs2 master to remedy the situation: https://github.com/typesafehub/community-builds/pull/29

[2014-03-28 19:07] xeno-by commented on #24
I planned to fix source incompatibilities in 2.0.0-M6, which I hope to look into this weekend.

[2014-03-29 16:05] xeno-by commented on #20
Issue number 1 fixed in d017daabe4

[2014-03-29 16:06] xeno-by commented on #30
Fixed in fdbfc20016

[2014-03-29 16:06] #30 closed, assigned to nobody

[2014-03-29 18:27] xeno-by opened #34 "look into the existential nightmare"
Even something as simple as `q"foo"` produces awkward types like `_4.u.Ident forSome { val _4: scala.quasiquotes.QuasiquoteCompat{val u: reflect.runtime.universe.type} }`. We need to fix that. At least construction should be easy.

[2014-03-29 19:23] xeno-by commented on #34
Fixed in 279d2b76a9102d7afb61fa13ca745c43d6d05027 both for construction and deconstruction.

[2014-03-29 19:23] #34 closed, assigned to nobody

[2014-03-29 19:39] xeno-by opened #35 "splicing early defs doesn't work in 2.10.x"

[2014-03-29 19:43] xeno-by opened #36 "pattern matching while loops and functions with underscores doesn't work in 2.10.x"
This is currently only supported in 2.11. Workaround is to write the pattern match using manual tree deconstruction.

[2014-03-29 19:43] xeno-by opened #37 "pattern matching complex multi-dot liftables doesn't work in 2.10.x"
This is currently only supported in 2.11. Workaround is to write the pattern match using manual tree deconstruction.

[2014-03-29 19:44] xeno-by commented on #20
Issue number 4 fixed in ba0096fd4141bb6cbee558944fee269a118e16ea

[2014-03-29 19:44] xeno-by commented on #20
Issue number 2 moved to https://github.com/scalamacros/paradise/issues/36

[2014-03-29 19:44] xeno-by commented on #20
Issue number 3 moved to https://github.com/scalamacros/paradise/issues/37

[2014-03-29 19:44] #20 closed, assigned to xeno-by

[2014-03-29 19:50] xeno-by opened #38 "pattern matching for loops doesn't quite work in 2.10.x"
This is currently only supported in 2.11. Workaround is to write the pattern match using manual tree deconstruction.

[2014-03-29 20:02] xeno-by commented on #33
Fixed in 1f56a8968b6593546fccb3c37628f0feb22041f6

[2014-03-29 20:02] #33 closed, assigned to nobody

[2014-03-29 20:57] xeno-by commented on #32
Fixed in https://github.com/scalamacros/paradise/commit/8c5711aa9234103576dc97429b2bd6eccb79c0df

[2014-03-29 20:57] #32 closed, assigned to nobody

[2014-03-29 21:04] xeno-by commented on #31
Fixed in a6c0e59fca

[2014-03-29 21:04] #31 closed, assigned to nobody

[2014-03-29 21:06] xeno-by commented on #29
Duplicate of https://github.com/scalamacros/paradise/issues/32

[2014-03-29 21:06] #29 closed, assigned to nobody

[2014-03-29 21:17] xeno-by commented on #28
Fixed in b6133ec217

[2014-03-29 21:17] #28 closed, assigned to nobody

[2014-03-29 21:23] xeno-by commented on #27
Fixed in 64c7a703c9

[2014-03-29 21:23] #27 closed, assigned to nobody

[2014-03-29 21:44] xeno-by opened #39 "Liftable and Unliftable companion objects aren't available in 2.10.x"
Paradise for 2.10.x successfully injected Liftable and Unliftable traits into the Universe cake, but term injection is much harder, since everything I can think of involves overwriting existing bytecode in scala-reflect.jar, which is very bad thing to do.

Luckily, we have a really simple workaround here:
  1. Liftable.apply and Unliftable.apply can be easily emulated by creating instances of Lift

[2014-03-29 22:04] xeno-by opened #40 "parents are processed incorrectly in 2.10.x"
[code]

[2014-03-29 22:30] #40 closed, assigned to nobody

[2014-03-29 23:04] #35 closed, assigned to nobody

[2014-03-29 23:17] xeno-by commented on #38
See an explanation in c5681839ee

[2014-03-29 23:18] xeno-by commented on #37
Explanation: https://github.com/scalamacros/paradise/blob/c5681839eea453e15ad593ddcc644e5a3bce76af/plugin/src/main/scala/org/scalamacros/paradise/quasiquotes/Reifiers.scala#L77.

[2014-03-29 23:19] xeno-by commented on #36
Explanation: https://github.com/scalamacros/paradise/blob/c5681839eea453e15ad593ddcc644e5a3bce76af/plugin/src/main/scala/org/scalamacros/paradise/quasiquotes/Reifiers.scala#L78

[2014-03-30 14:11] holograph commented on #22
M6 confirmed to work, thanks!

[2014-04-08 05:29] iamroylin commented on #9
Hey, I am having the exact same problem in scala 2.10 using play framework 2.2.2

The problem only occurs if i use the dist or stage command, and never happens when i run the application, which makes it impossible for me to deploy.

I see that you have fixed this for 2.11.0-M8, however play framework is still using 2.10.4

Im quite new to Scala, are you able to point me in the right direction?

Th

[2014-04-08 06:18] xeno-by commented on #9
What version of paradise are you using? Could you try `addCompilerPlugin("org.scalamacros" % "paradise" % "2.0.0-M7" cross CrossVersion.full)`?

[2014-04-08 07:29] iamroylin commented on #9
Thanks Eugene,

That is the version I am using.

I just created a minimalist project, and I didn't encounter the same problem. So I must be doing something wrong elsewhere =/

[2014-04-09 21:20] xeno-by opened #41 "backport https://github.com/scala/scala/pull/3671"
https://github.com/scala/scala/pull/3671

[2014-04-09 21:31] xeno-by commented on #41
Fixed in ee2fffd22e

[2014-04-09 21:31] #41 closed, assigned to xeno-by

[2014-04-11 13:40] ponythewhite opened #42 "illegal cyclic reference involving type A"
The following line in sbt build:

[code]

causes the following code:

[code]

to throw:

[code]

Checked with Scala 2.10.3 & 2.10.4 Without `@specialized(Int, Long)` the code compiles.

As a workaround I've moved the `addCompilerPlugin` to the macro subproject.

[2014-04-13 09:54] xeno-by commented on #42
Minimized repro:

[code]

Errors out both on 2.10.x and master.

[2014-04-13 11:29] xeno-by commented on #42
@ponythewhite I think I have identified and fixed the problem, but it's in such a core area of the plugin that I'd prefer to delay the fix until after 2.0.0-final is released. Would it be okay for you?

[2014-04-13 12:16] ponythewhite commented on #42
@xeno-by a temporary workaround of splitting the project into distinct sbt configurations with and without the sbt plugin works for now. This is not critical for me, so the fix being included in 2.0.0-final will be fine.

Many thanks for prompt feedback!

[2014-04-13 12:19] xeno-by commented on #42
@ponythewhite Sorry for the confusion. What I meant is that I will probably have to release 2.0.0-final with this as a known issue in order to avoid last-minute breakages. Along with that, I'm also planning to release 2.1.0-M1 with this fix included. Hope this is going to be okay.

[2014-04-13 12:24] ponythewhite commented on #42
@xeno-by ah yes, still works for me! Thanks.

[2014-04-17 09:26] #42 closed, assigned to nobody

[2014-04-17 09:27] xeno-by commented on #42
Fixed in 2.1.0-SNAPSHOT, which will be soon deployed to sonatype by our jenkins.

[2014-04-18 13:38] xeno-by opened #43 "double definitions might make paradise crash"
[code]

[code]

[2014-04-21 08:37] samueltardieu opened #44 "Scala 2.11.0 is out"
Could you please publish a version of paradise for Scala 2.11.0? Thanks in advance :)

[2014-04-21 09:59] xeno-by commented on #44
Already done last week :)

[2014-04-21 10:01] samueltardieu commented on #44
Oh, right, indeed :)

[2014-04-21 10:01] #44 closed, assigned to nobody

[2014-05-05 05:56] jilen opened #45 "Implicit search report NPE for scala 2.10.4"
See full stack [here](https://gist.github.com/jilen/497b4ba60d08d23b9f8d)

[code]

[2014-05-05 09:16] xeno-by commented on #45
Thanks for the report! Could you provide reproduction instructions?

[2014-05-05 10:35] jilen commented on #45
[code]

[2014-05-06 09:54] xeno-by commented on #45
Would it be possible to provide a self-contained example? It would be ideal if that was a standalone sbt project published e.g. at github.

[2014-05-06 10:14] jilen commented on #45
https://github.com/jilen/srethink/blob/quasiquotes/src/main/scala/srethink/core/codec/CodecsMacro.scala Look at this and this https://travis-ci.org/jilen/srethink

[2014-05-06 11:06] xeno-by commented on #45
Thank you! I'll try to take a look one of these days.

[2014-05-06 11:12] jilen commented on #45
I try to print the infer information by adding following

[code]

And found it prints `infering <empty> null`

The following is how I am trying to infer implicit

[code]

Is that wrong ?

[2014-05-06 11:36] xeno-by commented on #45
Oh I see. It's simpler than I thought. You need to typecheck `encoderType` before you can use its `tpe`. Something along the lines of:

[code]

[2014-05-06 11:46] #45 closed, assigned to nobody

[2014-05-08 14:25] akshaal opened #46 ""Hangs""
Paradise 2.0.0, 2.1.0-M1.
Scala 2.11, 2.10.4, 2.10.3...

I can't use the plugin in my project. There is nothing special about the project except may be that it has many jar deps (typical "enterprise" project). There are no macro definitions in the project itself so none of the features of paradise are used (can't even start to use them...). The only macros I use are from scalaequals project . Work

[2014-05-09 12:06] xeno-by commented on #46
Could you provide some additional information about the project? Especially helpful would be the possibility to see the source code, but if that's impossible let's do some telepathic debugging:
1) Does compilation truly hang (never completes), or it just takes a tremendous amount of time?
2) Could you run scalac/sbt with `-Ydebug` on (that will log the compiler phases as they are running on the fi

[2014-05-09 14:22] akshaal commented on #46
Thanks for the response! I've got the following results during this day (it takes 20 minutes per attempt so I spent all the day trying different ideas):
Using bisection I managed to track the problem down to one source file. It contains only one class inside. It looks something like:
40 import statements
@org.springf....Service class SomeServiceImpl @Inject() (args) extends .... { body }
So far I'

[2014-05-09 18:33] xeno-by commented on #46
Thanks for such a detailed report! I'll try to take a look after flatMap.

[2014-05-23 12:41] xeno-by commented on #38
https://gist.github.com/folone/5aed1281521171abba3e

[2014-05-28 08:40] FlorianKirmaier opened #47 "4x compiletime with scala 2.11.1 compared to scala 2.11.0 (Huge use of macro annotations)"
When switching from scala 2.11.0 to scala 2.11.1, I have noticed a huge increase in the compile-time with sbt.
The project makes heavy use of macro-annotations.
The subprojects, which don't use macro-annotations, still have the normal compiletime.
The macro-plugin was added with the following definition in sbt:
addCompilerPlugin("org.scalamacros" % "paradise" % "2.0.0" cross CrossVersion.full),

[2014-05-28 09:14] xeno-by commented on #47
Thanks for the report! I'll take a look in the coming hours.

[2014-05-28 09:18] xeno-by commented on #47
@FlorianKirmaier Could you test this now with `2.1.0-SNAPSHOT`? Does this help compilation speed?

[2014-05-28 09:47] FlorianKirmaier commented on #47
Yes, 2.1.0-SNAPSHOT has the normal compilation speed.
Thank you.

[2014-05-29 08:44] xeno-by commented on #47
So what I did yesterday was reverting an innocuously looking commit, and this has unexpectedly seemed to fix the problem. Of course it would be nice to look deeper into it, but unfortunately until ScalaDays I won't have time for that, so here's what I suggest we do.

I've just reverted my bandaid changes to 2.1.0-SNAPSHOT, so that it stays consistent with other Scala versions (e.g. for 2.10 or 2.1

[2014-05-29 19:58] FlorianKirmaier commented on #47
I tested some more, and it looks as i have to take back this bug report.
I still have issues, but its completly different, as i discribed it yesterday.
But you could reproduce something?

It looks as my issues don't depend on the used scala or paradise version.
for some reason "sbt clean publish-local" takes about 50% longer than "sbt compile publish-local".
Now I'm unsure, if a connection to macr

[2014-05-29 22:46] xeno-by commented on #47
I heard of paradise causing compilation speed problems, but haven't been able to look into that yet. The last couple of pre-ScalaDays weeks have been very busy.

So you're saying that the 4x build time degradation is caused by something completely different or paradise also seems to take part in that?

[2014-05-29 23:01] FlorianKirmaier commented on #47
There is no 4x degradation .. i missinterpreted some tests.
The only thing that remains, is the slow "publish-local" ...
which has a big variance in compiletime and is much slower as "compile publish-local"
Dont know if this has to do something with paradise. Probably not.
I close the ticket now, because it causes only confusion.

[2014-05-29 23:01] #47 closed, assigned to nobody

[2014-05-30 21:01] xeno-by opened #48 "weird compilation error on a very innocuous file combo"
[code]

[2014-05-30 23:30] #48 closed, assigned to nobody

[2014-06-28 13:21] #46 closed, assigned to nobody

[2014-06-28 14:31] xeno-by commented on #46
Fixed in 2.0.1

[2014-06-28 14:38] xeno-by opened #49 "c.typecheck causes spurious cyclic errors when used in a method annotation"
https://twitter.com/copumpkin/status/482748250374832129

[2014-07-09 12:58] xeno-by opened #50 "c.typecheck leads to a weird NPE"
[code]

[code]

[code]

[2014-07-09 13:10] xeno-by commented on #50
The workaround is to explicitly define a companion for `class B`

[2014-07-09 17:15] bar commented on #50
Please don't use my name to document your code, thanks!

[2014-07-16 10:53] xeno-by opened #51 "probeMacroAnnotation doesn't account for all possible types"
Currently we only handle idents, selects and applied type trees. Maybe some other type trees have to be checked as well.

[2014-07-26 16:56] xeno-by opened #52 "c.macroApplication of a macro annotation isn't typechecked"
https://groups.google.com/forum/#!topic/scala-user/4yQtMKgK9-c

[2014-07-26 17:04] xeno-by commented on #52
This is an unfortunate implementation detail that I might get to fixing. In the meanwhile try doing c.typecheck explicitly.

[2014-07-29 13:58] FlorianKirmaier opened #53 "scaladoc can fail at specific macro annotations (Regression from scala 2.11.1 to 2.11.2)"
I can compile the following code with "sbt compile" but "sbt doc" fails.
It works with scala 2.11.1 but fails with scala 2.11.2.
I tested paradise version "2.0.1" and "2.1.0-SNAPSHOT".

[code]

[code]

[code]

[2014-07-29 17:59] xeno-by commented on #53
Hmm that's not good. Is this a blocker for you?

[2014-07-30 08:25] FlorianKirmaier commented on #53
It blocks me from upgrading to 2.11.2.
I can use 2.11.1 for the next 3 weeks.
After that, i can work around it, by doing a special 2.11.1 build for the docs.
So no, it doesn't block, but it's realy annoying.

[2014-07-30 16:38] xeno-by commented on #53
I'll see what I can do in the coming days. Thank you for reporting!

[2014-08-01 14:23] xeno-by commented on #53
This is a bug in quasiquotes: https://issues.scala-lang.org/browse/SI-8771. Please follow the discussion over there - I'll try to figure out what can be done as a workaround.

[2014-08-01 14:23] #53 closed, assigned to nobody

[2014-08-08 15:10] densh opened #54 "Macro annotations don't expand on types"
It would be amazing to have macro annotations expand on types
[code]

[2014-08-08 22:28] xeno-by commented on #54
For a workaround, https://twitter.com/xeno_by/status/497789999824519168

[2014-10-09 14:23] MasseGuillaume opened #55 "bytecode generation fail"
I'm running this annotation
https://github.com/MasseGuillaume/ScalaKata/blob/develop/Eval/macro/src/main/scala/com.scalakata.eval/Annotation.scala

If I run the folowing test case
https://github.com/MasseGuillaume/ScalaKata/blob/develop/Eval/compile/src/test/scala/com.scalakata.eval/CompilerSpec.scala#L30

I get `java.lang.ClassFormatError: Duplicate field name&signature in class file Playground$A

[2014-10-09 14:45] MasseGuillaume commented on #55
hum that's a bug in the compiler nvm https://issues.scala-lang.org/browse/SI-8895

[2014-10-09 14:45] #55 closed, assigned to nobody

[2014-10-14 14:22] MasseGuillaume opened #56 "annotation, rangePos and updateDynamic crash the compiler"
see https://github.com/MasseGuillaume/paradise-crash/blob/master/core/src/main/scala/Test.scala#L13

[code]

[2014-10-21 10:05] FlorianKirmaier opened #57 "missleading error message (cyclic reference) with Macro-Annotations when typecheck doesn't work in the given context"
[code]
```object A2 { @TestTypecheck class B }```

This doesn't compile, because we can't have undeclareds member inside of an object.

When we don't catch the Exception, we get an cyclic reference error and a StackTrace which doesn't lead to the cause. This is really ugly to debug.
When we print the exception of typecheck, we can at least find our code in the Stacktrace.

An error message like th

[2014-10-21 19:39] xeno-by commented on #57
Thanks for reporting! I'll see what I can do. In the meanwhile, is this a blocker for you?

[2014-10-22 10:57] FlorianKirmaier commented on #57
This is not a blocker for me. It was only annoying to debug.
A simple way to improve the the userexperience could be, to log all exception, which are thrown inside of macros.

[2015-01-12 23:20] xeno-by commented on #53
Hi @FlorianKirmaier! Today I faced a similar bug, but the workaround proposed in SI-8771 wasn't enough. After some thinking, I found a way to attack the issue at its root, and now it shouldn't be a problem anymore, regardless of whether the workaround is used or now. The fix has been published under version 2.0.2-SNAPSHOT, 2.1.0-SNAPSHOT and 2.1.0-M3.

[2015-01-15 04:38] sirinath opened #58 "Injecting Bindings, Code, Staging"
I hope all is well at your end. I am looking for the following functionality in Macro Paradise plugin.

[code]

Binding are static or dynamic and can be for variables, types and code. For dynamic case you should be able to generate the tree from string or IO. Binding can be identified by $$bindingName or x where x is the xth interpolation. You can replace the above convention with anything that wo

[2015-01-15 04:40] sirinath opened #59 "Optimisation and reduction"
This is a nice to have feature. Is it possible to have a tree reducer where you can optimise any tree to the most efficient usage.

[code]

In combination with binds:

[code]
May be the easiest would be get it into paradise and then into Scala Meta.

[2015-01-15 16:41] xeno-by commented on #59
https://groups.google.com/forum/#!topic/scalameta/j4W5eg-cnus

[2015-01-15 16:42] xeno-by commented on #58
https://groups.google.com/forum/#!topic/scalameta/MNV-GinD6XY

[2015-01-15 16:50] sirinath commented on #58
Any feedback on this? If this can make it as a feature soon it can be really useful for me.

[2015-01-15 16:56] xeno-by commented on #58
Thanks for bringing this up! Today and tomorrow I'm really overwhelmed, so I just triaged all my email and went on to hack something very urgent, but I'll try to take a look during the weekend.

[2015-01-16 15:23] sirinath commented on #58
Also another thing to consider is nesting. So the parameter can be a map.

[2015-01-16 17:18] Andrei-Pozolotin opened #60 "make macro annotation contract explicit"
it is not clear why using "magic name" ```macroTransform``` is the way to go:
https://github.com/scalamacros/paradise/blob/2.11.5/plugin/src/main/scala/org/scalamacros/paradise/reflect/StdNames.scala#L10

would it be better ("type-safe"? :-)) to have explicit  macro annotation contract instead:
[code]

[2015-01-17 14:19] xeno-by commented on #60
It would be nice, indeed, but then all macro annotation developers would have to import that `MacroAnnotation` from somewhere. That somewhere would probably be a library accompanying the macro paradise plugin.

While having a companion library is not impossible (in fact, that's what we do to support quasiquotes in paradise 2.10), it creates extra hassle for the users, so we have to weigh that agai

[2015-01-17 14:28] Andrei-Pozolotin commented on #60
I see your point. But from my macro newbie experience, I was not clear from your docs
http://docs.scala-lang.org/overviews/macros/annotations.html
that "macroTransform" is a magic name, and was a source of confusion for me.

[2015-01-17 14:30] Andrei-Pozolotin opened #61 "support scala-ide team re: type provider"
@xeno-by I think they are not capable of resolving these issues w/o your help
https://www.assembla.com/spaces/scala-ide/support/tickets/1002226#/activity/ticket:
https://www.assembla.com/spaces/scala-ide/support/tickets/1002372#/activity/ticket:

[2015-01-17 14:34] Andrei-Pozolotin commented on #60
Can you make this annotation part of standard `scala.reflect.runtime` name space?

[2015-01-17 14:47] xeno-by commented on #60
@Andrei-Pozolotin I've updated the docs: https://github.com/scala/scala.github.com/pull/403. Do you find the wording reasonable?

[2015-01-17 14:49] xeno-by commented on #60
As for `scala.reflect.runtime`, I think that Typesafe Scala team will be not very enthusiastic about putting something that's only useful for a non-standard compiler plugin into standard distribution. Also, there are binary compatibility constraints which mean that the earliest we can do that is Scala 2.12.0.

[2015-01-17 14:56] Andrei-Pozolotin commented on #60
1) re: https://github.com/scala/scala.github.com/pull/403
yes, that clarifies it, thank you.

2) what about the other "magic name" `annottees`; have not run into that yet, but
https://github.com/scalamacros/paradise/blob/2.11.5/plugin/src/main/scala/org/scalamacros/paradise/reflect/StdNames.scala#L9

[2015-01-17 15:16] xeno-by commented on #60
2) Wow, looks like it's also hardcoded, but I completely forgot about this. Luckily, macro paradise will let you know if the signature is wrong.

[2015-01-17 15:21] Andrei-Pozolotin commented on #60
oh, great. :-)
probably could mention in the docs if you are still in the mood.
feel free to close this, thank you.

[2015-01-17 15:23] #60 closed

[2015-01-17 15:32] xeno-by commented on #61
I think it's not the question of being capable, but rather the question of time and resources. Let me ask some questions on the scala-ide issue tracker, and maybe we'll figure something out. I have to admit that I know close to nothing about the presentation compiler, so that might be not as fast as we'd like.

[2015-01-17 15:56] Andrei-Pozolotin commented on #61
great, thank you for looking into this.

[2015-01-17 16:12] xeno-by commented on #59
What does `bindDynamic` mean? upd. Okay, probably that refers to something introduced in https://github.com/scalamacros/paradise/issues/58.

[2015-01-17 16:16] xeno-by commented on #58
Am I right in thinking that `q".... var a : $$t = ...".bindDynamic("t", Tree.from("MyType"))` is equivalent to: `val t = Tree.from(something); q".... var a: $t = ..."`?

[2015-01-17 16:27] sirinath commented on #58
Yes.
1. But you can inject `t` at a later point. `val t1 = Tree.from(something1); val t2 = Tree.from(something2); val qq = q".... var a: $$t = ..."; ...; var qq1 = qq.bindDynamic ("t", t1); ...; var qq2 = qq.bindDynamic ("t", t2); ...`
2. You should be able to load a tree easily from string or IO

[2015-01-17 16:30] sirinath commented on #59
I meant this for part of the qq which is supplied at runtime. The qq is used like a template where the template elements can be filled in later.

[2015-01-17 17:52] xeno-by commented on #58
What's `bindStatic` then?

[2015-01-17 17:57] sirinath commented on #58
Do it at compile time. Having two may have better optimisation / type checking option for static but you can have just `bind`. Though I am using qq for example this operation is on a tree.

Any part you plugin should be know at compile time. Dynamic you have some runtime penalty to generate the tree and do runtime manipulations and code generation. Also dynamic can return Try as we do not know whe

[2015-01-17 18:12] Andrei-Pozolotin commented on #61
re: https://github.com/scalamacros/paradise/commit/e07506d0fb05b8be3bfa4ed56fc4f5fc13dd8abf

`-Ymacro-expand` is not exposed in scala-ide preferences, should we ask them to make it user configurable?

![image](https://cloud.githubusercontent.com/assets/1622151/5789857/d8bea69c-9e41-11e4-91e7-889b005f7c6a.png)

[2015-01-17 18:19] xeno-by commented on #61
`-Ymacro-expand:discard` is necessary to fix a presentation compiler issue. I don't think we can just disable it universally.

[2015-01-17 18:32] xeno-by commented on #58
How is `bindStatic` different from splicing?

[2015-01-17 18:53] sirinath commented on #58
It is more or less the same but flexible with out some of the limitations as mentioned in the docs. But again with splicing you cannot change the list and have the qq's bindings change?

You can consider this to be a more flexible and powerful splicing mechanism. You have a set of place holders which you can change. The similarity with splicing will be if you need to change many place holders a sp

[2015-01-17 19:47] xeno-by commented on #58
What limitations are you referring to?

[2015-01-17 23:53] Andrei-Pozolotin opened #62 "support macro bundles for macro annotations"
it looks like macro bundles
http://docs.scala-lang.org/overviews/macros/bundles.html

can not be used with macro annotations
http://docs.scala-lang.org/overviews/macros/annotations.html

due to current shape of macro annotation

[2015-01-18 06:53] sirinath commented on #58
Limitation is splicing in the current form:
1. Splicing is better suited to function arguments in the current for. Expansions like: `q"var v: $$a = $$b($$c); v.f($$d)"` are not possible. `$$x` refers to a place holder.
2. The bindings are immediate and cannot be delayed or made at different point in code. E.g. `val q = q" ...; f(..$a); "` at this point I do not exactly know what parameters which s

[2015-01-18 07:14] sirinath commented on #58
It is immaterial what you call this feature may it be splicing or something else. What is needed:
- Support delayed binding, code injection of place holders in qq and trees. What is injected can either be know at compile time (but some other location in the code than where the qq / tree was defined) or only know at run time.
- Ability generate a new tree by rebinding  place holders using the exist

[2015-01-18 11:46] xeno-by commented on #58
Do you think this could be implemented as a library?

[2015-01-18 11:50] xeno-by commented on #62
Umm, you're saying that you can't implement `macroTransform` in a macro bundle?

[2015-01-18 12:08] sirinath commented on #58
Best place to have it is as part of `Tree`. If you try as a lib you have to then have your own tree. Duplication of work and maybe painful. Also you should have better Tree composition and manipulation APIs this can be a simple start in this direction.

[2015-01-18 12:12] xeno-by commented on #58
Can't this be a series of extension methods?

[2015-01-18 12:36] sirinath commented on #58
Possibly by before that you have to introduce a place holder to the Tree to which you can attach another tree.

Also introduce some schematics to have place holders in QQs and reify.

[2015-01-18 14:48] Andrei-Pozolotin commented on #62
tried again and it works now. no more macros on Saturday night :-)

[2015-01-18 14:48] #62 closed

[2015-01-18 21:34] FlorianKirmaier commented on #53
Great to see progress here!

 The original code of the sample works now. But unfortunately, I still have a lot of issues with `sbt doc`. I still get many `java.lang.UnsupportedOperationException: Position.point on NoPosition` errors.

Another error can be reproduced with the identity annotation from http://docs.scala-lang.org/overviews/macros/annotations.html
`
/** any doc */
@identity class A
`

[2015-01-22 01:35] sirinath opened #63 "AOP Like Support | Tree Query"
Ability to
 1. query language constructs in a Tree and insert place holders to which you can inject code.
 2. replace parts of the the tree with place holders.

This depends on this https://github.com/scalamacros/paradise/issues/58 being in place.

[2015-01-23 19:34] xeno-by commented on #63
Could you give a few examples?

[2015-01-24 03:45] sirinath commented on #63
Point just after method, point before return, point at where a variable is declared, etc.

[2015-01-24 04:05] sirinath commented on #63
In short this will be like a programmable find and replace or find and insert. You find certain code constructs and insert, update or delete elements to get your new tree.

[2015-01-31 19:20] xeno-by opened #64 "paradise crashes when compiling annotations on classes/traits that have eponymous vals/defs"
[code]

[code]

[2015-01-31 19:27] mpilquist commented on #64
Wonderful, thanks! Coincidentally, we decided to rename the `Adapter` stuff while you were looking in to this. I just tried specialization against master and all is working. Thanks again!

[2015-01-31 20:18] #64 closed

[2015-04-23 22:48] fdietze opened #65 "assertion failed: List(value c$1, value c$1)"
Hi, I'm getting an assertion when compiling this project:

https://github.com/renesca/renesca-magic/tree/b064d5ab59c534dd485e950559394649afa4212a

Do you have any Idea where this error comes from? Macros? Scala compiler?

Thank you!

[code]

[2015-04-26 19:40] xeno-by commented on #65
This error looks really similar to owner chain corruption issues that can sometimes happen in def macros. Are you using any def macros in your project?

[2015-04-26 20:18] fdietze commented on #65
I'm only using one macro annotation which uses lots of quasiquotes to pattern match and generate code.

I think the biggest architectural difference to my previous  version is that I introduced objects inside the macro which contain methods using the Tree type. Could that be the issue?

The objects are inside as I don't know yet how to use the Tree type outside the macro.

[2015-04-27 10:55] xeno-by commented on #65
It looks like this crash is caused by the macro paradise compiler plugin. In the plugin, I've patched the naming/typing infrastructure to accommodate macro annotations, and as a side-effect that fixed SI-3772. Or I thought that it fixed it, because as your example shows that the fix sometimes crashes the backend.

If you try to compile your code without the macro paradise plugin enabled, you'll ge

[2015-04-28 00:11] fdietze commented on #65
I disabled the compiler plugin and fixed all the errors:
https://github.com/renesca/renesca-magic/commit/a5e8259ee82008cf2b52acb71dd58a7d3abf08c2

But even now the compiler crashes with the same error.

Thanks for helping out!

[2015-04-28 09:02] xeno-by commented on #65
Hmm, looks like this is a Scala backend bug (or, maybe, an issue with how quasiquotes are implemented, but that's less likely). Could you minimize the test file to something smaller that still exhibits the problem, and then we could submit the issue ot JIRA?

[2015-04-28 09:15] fdietze commented on #65
Sure, I will do that.

[2015-04-28 11:56] fdietze commented on #65
I was able to boil it down to a simple example:

[code]

sbt project: https://github.com/renesca/renesca-magic/tree/70ecadc90a55c9ad797662a82ef5fafdc540ff07

[2015-04-28 13:58] xeno-by commented on #65
Here's an even smaller reproduction:

[code]

[2015-04-28 13:58] xeno-by commented on #65
Submitted to https://issues.scala-lang.org/browse/SI-9284

[2015-04-28 13:58] #65 closed

[2015-04-28 16:02] matanster opened #66 "Identity macroTransform?"
Hi,

This may well be more of a support question.
I have borrowed the identity `macroTransform` implementation from
https://github.com/scalamacros/paradise/blob/5e5f0c129dd1861f86250d7ce94635b89996938c/tests/src/main/scala/identity.scala#L8, into my forked example sbt project at http://goo.gl/shXYi9. It seems if I `c.typecheck` the annottees, then after returning the identity, or anything else I c

[2015-04-29 12:34] #66 closed

[2015-04-29 12:36] matanster opened #67 "typechecking annottees inside a macroTransform crashes the compiler"
Hi,

It seems if I `typecheck` the `annottees: c.Expr[Any]*` inside a `macroTransform` implementation, then eventually I crash compilation, whenever one or more _case classes_ are being annotated. As if implying that typechecking has some mutable adverse effect, as the scala compiler seems to ultimately call paradise's  [`org.scalamacros.paradise.typechecker`](https://github.com/scalamacros/paradi

[2015-04-29 14:23] jrudolph opened #68 "Clarify the need of scala-reflect and quasiquote dependency jars"
[The macro documentation](http://docs.scala-lang.org/overviews/macros/overview.html#using_macros_with_maven_or_sbt) says this:

This says a bit too little about when exactly the dependency is needed. In the three stages of

 1. macro compilation (compilation classpath)
 2. macro expansion (compilation classpath)
 3. user code runtime (JVM classpath)

not every stage will need scala-reflect on the

[2015-04-29 14:46] jrudolph commented on #68
Maybe some background: In https://github.com/spray/akka/commit/ba090965a6be0335703217534bedd09779a045e8 I made the exception disappear also in Scala 2.11 by moving a `typeOf[Rule[_, _]]` statement out of a pattern guard.

[2015-04-30 12:52] xeno-by commented on #67
Unfortunately, c.typecheck inside macro annotations is pretty unreliable at our current level of technology. It often works, but sometimes it produces the unpleasant effects similar to what you've described.

Therefore, a typical approach to typechecking is (if possible) trying to move it to def macros (typecheck there has a much higher chance to work correctly). So, a macro annotation could expan

[2015-04-30 13:06] matanox commented on #67
Well on the face of it, I shouldn't really care if the macro annotation would expand to a more vanilla `def macro`, that somehow has the same level of access to the annotated entity's AST, and to type-checking it. Is it really that simple or am I missing something here? I wonder where does the difference arise from - do def macros expand at a later stage of compilation? I'd like to understand more

[2015-04-30 13:07] xeno-by commented on #68
A) The matrix is correct. If there's a deviation, that's either a bug in scalac or an unfortunate situation in a particular macro. What's there at `OpTreeContext.scala:558` in akka.parboiled2?

[2015-04-30 13:09] xeno-by commented on #68
B) "This means that as a macro library publisher you cannot "just ship" your library but you have to remind your users also to add a provided dependency on quasiquotes". Yes, I agree that this is a problem for the QuasiquoteCompat module in 2.10. Does it manifest itself on 2.11 as well?

[2015-04-30 13:11] xeno-by commented on #68
"It would be cool if you could just declare one dependency and have the dependency management system figure out what the compile-time artifact is and what the runtime artifact".

Do you have any ideas how to implement the "figure out" part? Could there be a non-heuristic algorithm that does that?

Also, another question here is how to express that knowledge in the form of maven metadata. I've chat

[2015-05-04 13:37] jrudolph commented on #68
@xeno-by thanks for the answer. I guess the main question is if it is really worthwhile to look hard enough for solutions. By "figure out" I thought of an Ivy solution but one would have to experiment a bit with it.

It's just a `typeOf` used in a pattern guard. If you look at the commit linked above moving out the `typeOf` fixed the problem.

[2015-05-05 09:58] xeno-by commented on #68
@jrudolph Yeah, looks like an unfortunate side effect of how reify works (reify is used to implement typeOf internally). Since you're reifying an existential type, reify creates symbols to represent the existentially quantified identifiers and, as it's currently implemented, it needs an owner chain for those symbols and that's where a reference to `Context` leaks into. Moving the typeOf should've

[2015-05-08 11:27] xeno-by commented on #67
`c.typecheck` relies on having internal compiler data structures called typer contexts to be set up properly. Among other things, typer contexts have the information about names in scope, so it's really fundamental to them to be in order to have typechecking working.

Macro annotations expand at a very sensitive point during typechecking, at which some of the contexts are already initialized and s

[2015-05-09 21:35] matanox commented on #67
Thanks,

In my naive testing, everything works as intended in my macro annotations -
they produced all data they were intended to produce. Only the compilation
beyond the stage where they recorded all necessary information - failed.

Is there grounds to believe this would typically be the case - with scala
2.11 - that compilation as a whole will fail only _after_ the annotation
macros have been su

[2015-05-10 11:25] xeno-by commented on #67
Well, since scalac uses a highly mutable architecture to implement signature computations and typechecking, `c.typecheck` may mutate some state at the point when it's not expected to, leading to spooky action at distance, starting from a few stack frames to even a few compiler phases later.

As for you idea, it would be really hard to separate macro annotation expansion from this particular crash,

[2015-05-10 11:28] xeno-by commented on #67
What I suggested in the email, is having

[code]

Expand into

[code]

Then, expansions of `macroDef` would be able to use `c.typecheck` without being afraid to corrupt internal typechecker state.

[2015-05-10 22:54] matanox commented on #67
Okay, thought so. I'll try that when I come back to it, hopefully I can provide the AST from `@macroAnnot` as the content of the curly braces of `macroDef`. Thanks for your courtesy and the clarification...

[2015-05-11 06:49] xeno-by commented on #67
Why do `@macroAnnot` and `macroDef` macros have to communicate? `macroDef` already has a subset of the AST automatically (its argument).

[2015-05-28 19:18] jknight12882 opened #69 "Macro annotation with WeakTypeTags crashes compiler"
Scala 2.11.6
Sbt 0.13.8
MacroParadise 2.0.1 and 2.1.0-M5

Annotation which causes the crash

    @compileTimeOnly("enable macro paradise to expand macro annotations")
    class Authenticate[Out, In] extends StaticAnnotation {
      def macroTransform(annottees: Any*): Any = macro AuthenticatedHttpRequestMacros.impl[Out, In]
    }

    class AuthenticatedHttpRequestMacros(val c: whitebox.Context) {

[2015-05-29 14:58] xeno-by commented on #69
The problem stems from the fact that `Tree.tpe` for all trees in macro annotations is empty (i.e. equal to `null`), because macro annotations expand before typechecking. Therefore, trying to get a type tag for any of the arguments of a macro annotation doesn't make sense, and it should be caught and warned about by the compiler.

When implementing macro annotations, I overlooked this fact, but now

[2015-05-29 14:58] #69 closed

[2015-05-29 18:17] jknight12882 commented on #69
Confirmed.

However, generic macros are able to create evidence of type `c.WeakTypeTag` (http://docs.scala-lang.org/overviews/macros/overview.html#generic-macros), so I am curious as to the reason for annotations not being able to do the same.

Currently, my solution for getting the types of the annotation is `c.typecheck(q"${c.prefix.tree.duplicate}").tpe.typeArgs`. Is there a better solution for

[2015-05-30 00:32] xeno-by commented on #69
Unlike regular macros, macro annotations expand before typechecking, and that means that the trees that they operate on are untyped (because the annotated trees might not even make sense, i.e. be untypeable, before the expansion takes place). You can do `c.typecheck` manually, but the macro engine can't do it for you in this case.

[2015-06-14 12:52] julien-truffaut opened #70 "Release a version for Scala 2.12.0-M1"
I am not sure of what is the long term plan for this project, maybe it will be integrated into 2.12 directly.

[2015-06-14 15:53] matanster commented on #67
Okay I have come back to this. I think if I get this part, I can make it all happen. Assuming I replace each relevant method definition with a macro that gets its AST as its parameter, I am good to go.

I am currently struggling with adding a macroDef using quasiquotes, what might be a quasiquote pattern that would accept a macro statement? by the way I assume you had meant the keyword `macro` abo

[2015-06-14 16:27] matanox commented on #67
Okay I think I got it, coming back to this, and am working on this approach.

[2015-06-24 21:03] mslinn opened #71 "Need version for Scala 2.11.7"
unresolved dependency: org.scalamacros#paradise_2.11.7;2.1.0-M5: not found

[2015-06-25 09:32] xeno-by commented on #71
Will do today (within 12 hours).

[2015-06-25 20:22] xeno-by commented on #71
Done: https://oss.sonatype.org/content/repositories/releases/org/scalamacros/paradise_2.11.7/

[2015-06-25 20:22] #71 closed

[2015-07-03 07:16] xeno-by commented on #70
Hi @julien-truffaut! Sorry for the late answer - apparently this notification got buried under a pile of other github notifications, and when I marked everything as read, I didn't take a close enough look at everything.

This project won't be integrated in 2.12, but I can and will maintain it for 2.12. How urgent is the 2.12.0-M1 release for you?

[2015-07-03 12:42] julien-truffaut commented on #70
np, it is not urgent but I think it is the last dependency that blocks me from building Monocle for 2.12.0-M1.

[2015-07-28 08:09] julien-truffaut commented on #70
@xeno-by any idea when do you think it can be done?

[2015-07-29 12:09] xeno-by commented on #70
@julien-truffaut Thanks for reminding. I'll take care of it this week.

[2015-07-29 15:22] xeno-by commented on #70
Just released 2.1.0-M5 for both 2.12.0-M1 and 2.12.0-M2.

[2015-07-29 15:22] #70 closed

[2015-07-31 16:03] julien-truffaut commented on #70
I still get:

[code]

but maybe I am missing something.

[2015-08-01 07:27] xeno-by commented on #70
Should be fixed now. Also released 2.0.1.

[2015-09-18 15:53] rjean-gilles commented on #50
A better work around is to generate an empty private companion for `class B` in the macro. It prevents the NPE too, and does not require to uglify client code.

[2015-10-23 09:28] sschaef opened #73 "Usage of macrame crashes Presentation compiler in Scala IDE"
I have the following piece of code:
[code]
And the following `build.sbt`, which depends on [macrame](https://github.com/ChrisNeveu/macrame):

[code]

If I introduce a compilation error in `Test` or try to trigger code completion (actually I think it doesn't matter what is done as long as the PC in involved) it often (but not always) happens that the PC crashes. There are error messages shown like

[2015-10-26 10:09] xeno-by commented on #73
Hi! Thanks for the report - I'll try to take a look this week. Maybe you have any idea what's going on?

[2015-10-26 10:26] kiritsuku commented on #73
On 10/26/2015 11:09 AM, Eugene Burmako wrote:

[2015-10-26 10:34] dragos commented on #73
Since macros can do anything, there's nothing to learn from normal execution of the typer w.r.t. why this failed :)

[2015-10-26 10:37] xeno-by commented on #73
Here it's not macros per se, it's the macro annotation engine interacting in bad ways with the presentation compiler. It seems that I've missed some of the invariants that aren't held when we move from the batch compiler to the interactive one.

[2015-11-02 08:26] jrudolph commented on #68
I read again through this ticket (in relation to https://github.com/lihaoyi/upickle-pprint/issues/116) and I didn't understand any more why scala-reflect would not be on the classpath at "Macro expansion" time, i.e. when a macro is run during compilation. To explain it again to me and future readers: of course, scala-reflect is in the runtime class path of the compiler and, thus, a macro implement

[2015-11-07 16:27] xeno-by opened #74 "-Ywarn-unused-import gets confused"
https://gitter.im/scalamacros/paradise?at=563bd9bbb615876d0329acaf

[2015-11-19 14:54] xeno-by commented on #74
Fixed in the upcoming release.

[2015-11-19 14:54] #74 closed

[2015-11-19 15:09] xeno-by commented on #63
I think this is out of scope for this project.

[2015-11-19 15:09] #63 closed

[2015-11-19 15:09] xeno-by commented on #59
I think this is out of scope for this project.

[2015-11-19 15:09] #59 closed

[2015-11-19 15:09] xeno-by commented on #58
I think this is out of scope for this project.

[2015-11-19 15:09] #58 closed

[2015-11-19 15:13] xeno-by opened #75 "c.typecheck is unreliable"
Our initial implementation of macro annotations includes YOLO-support for c.typecheck: we do our best effort to call the typechecker so that it doesn't crash, occasionally losing precision because the typechecker resists our efforts.

When I released 2.0.0-SNAPSHOT with this limitation, my hope was that our experience with c.typecheck will let us understand it better and come up with a strategy th

[2015-11-19 15:14] xeno-by commented on #50
I've merged this issue into https://github.com/scalamacros/paradise/issues/75 and will close this issue now. If this is a blocker for you, please let me know, and we'll think of something.

[2015-11-19 15:14] #50 closed

[2015-11-19 15:14] xeno-by commented on #67
I've merged this issue into https://github.com/scalamacros/paradise/issues/75 and will close this issue now. If this is a blocker for you, please let me know, and we'll think of something.

[2015-11-19 15:14] #67 closed

[2015-11-19 15:14] xeno-by commented on #14
I've merged this issue into https://github.com/scalamacros/paradise/issues/75 and will close this issue now. If this is a blocker for you, please let me know, and we'll think of something.

[2015-11-19 15:14] #14 closed

[2015-11-19 15:14] xeno-by commented on #49
I've merged this issue into https://github.com/scalamacros/paradise/issues/75 and will close this issue now. If this is a blocker for you, please let me know, and we'll think of something.

[2015-11-19 15:14] #49 closed

[2015-11-19 15:14] xeno-by commented on #57
I've merged this issue into https://github.com/scalamacros/paradise/issues/75 and will close this issue now. If this is a blocker for you, please let me know, and we'll think of something.

[2015-11-19 15:14] #57 closed

[2015-11-19 15:17] xeno-by commented on #12
It looks like non-duplication doesn't lead to any significant problems. We may consider reopening this issue if it will.

[2015-11-19 15:17] #12 closed

[2015-11-19 15:19] xeno-by commented on #16
We will consider this for our new iteration of macros that will be coming with Dotty. I think that fixing this bug in the 2.x series isn't worth the hassle of changing tutorials and reeducating users.

[2015-11-19 15:19] #16 closed

[2015-11-19 15:22] xeno-by commented on #15
In retrospect, implement this was the best idea ever. I'm seeing a huge amount of downloads (close to 100k) for the `quasiquotes_2.10` artifact every month. I am very happy that this effort was useful!

[2015-11-19 15:23] xeno-by commented on #54
Same as with https://github.com/scalamacros/paradise/issues/16, we will consider this for our new iteration of macros that will be coming with Dotty.

[2015-11-19 15:23] #54 closed

[2015-11-19 15:25] xeno-by commented on #68
@jrudolph Would you consider contributing to our documentation at https://github.com/scala/scala.github.com/tree/master/overviews/macros with the things that you've learned about the topic at hand?

[2015-11-19 15:28] xeno-by commented on #39
As our experience shows, there's little demand for this feature, so I'll be recommending either an upgrade to 2.11.x (which is by now well-established in the community) or using the aforementioned workaround.

[2015-11-19 15:28] #39 closed

[2015-11-19 15:28] xeno-by commented on #38
As our experience shows, there's little demand for this feature, so I'll be recommending either an upgrade to 2.11.x (which is by now well-established in the community) or using the aforementioned workaround.

[2015-11-19 15:28] #38 closed

[2015-11-19 15:28] xeno-by commented on #37
As our experience shows, there's little demand for this feature, so I'll be recommending either an upgrade to 2.11.x (which is by now well-established in the community) or using the aforementioned workaround.

[2015-11-19 15:28] #37 closed

[2015-11-19 15:28] xeno-by commented on #36
As our experience shows, there's little demand for this feature, so I'll be recommending either an upgrade to 2.11.x (which is by now well-established in the community) or using the aforementioned workaround.

[2015-11-19 15:28] #36 closed

[2015-11-19 15:29] xeno-by commented on #13
Marking this as critical, because a lot of people encounter this and making their life easier would be very welcome. I hope I get time to address this problem in 2.2.x.

[2015-11-19 15:32] xeno-by commented on #75
I will keep this issue open in case something comes up, but the current situation is:
  1) I don't know how to fix this in 2.x.
  2) An upcoming refresh of our macro system may let us view this question from a different angle.

[2015-12-28 17:00] acdenhartog opened #76 "c.enclosingPosition microaggressions"
Possibly the most frivolous issue ever:

Could the `c.enclosingPosition` parameter please be a default for methods that use it? It is so annoying. Especially while the autocomplete still has a ton of deprecated `enclosingWhatever` clogging up the name space. There is even scaladoc comments in `scala.reflect.macros.FrontEnds` to manually explain that `c.enclosingPosition` is the default thing to us

[2015-12-31 08:14] xeno-by commented on #76
Do you think introducing a new overload with just one parameter would also work for you?

[2015-12-31 16:15] acdenhartog commented on #76
Sure, anything will work, but it is more a matter principle. A default parameter means less duplication and shorter files, which makes the API easier read and understand and it makes some of that scaladoc redundant. I would just go for writing msg="..." now and hope for Scalac fix the rest of it later.

[2016-01-02 18:30] acdenhartog commented on #76
I noticed only recently that almost every tree has a position and line numbers embedded in it; that is a pretty neat feature, and should perhaps be mentioned in the scaladoc of those echo methods. I also found that passing null as a position works just fine, and can be nicer for debugging too.

In the end I would have preferred the default parameter as `null` for echo and `enclosingPosition` for t

[2016-01-19 16:21] ClaireNeveu commented on #49
Is there any workaround for this? We have encountered this spurious `illegal cyclic reference involving class <className>` when annotating objects inside a class with our [Safe Config](https://github.com/gawkermedia/safe-config) macro.

[2016-02-01 18:29] jeffrey-aguilera opened #77 "Anonymous inner class with overrides crashes Typers"
The issue is described in more detail at https://github.com/jeffrey-aguilera/bug-scalamacros

This project demonstrates a Typers.scala assertion error with a quasiquote generated inner class.

 * sbt compile --- compiles macro
 * sbt test:compile --- attempts compilation of object annotated with macro

The problem has been reproduced for Scala 2.11.7 and 2.12.0-M3 generating 1.7 and 1.8 bytecode.

[2016-02-03 19:31] SethTisue opened #78 "paradise doesn't compile with latest Scala 2.12.x"
in the community build run https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/309/consoleFull we see:

[code]

I believe it's because of @adriaanm's commit https://github.com/scala/scala/commit/66a316a4acdb2584ef9d85f15b950f12c94d909c

in the context of the 2.12.x community build, macro paradise not compiling means Play and Shapeless can't be built. (and then some further pro

[2016-02-03 20:38] xeno-by commented on #78
How urgent is this? I can look into it this week, but probably not today or tomorrow.

[2016-02-03 20:49] SethTisue commented on #78
it's not super urgent. if you could look at this before we build 2.12.0-M4, that would be best. the earliest we might build M4 is Mon Feb 8.

[2016-02-04 19:07] adriaanm commented on #78
[re: ... Feb 8...]  it'll be at least a couple days after that -- the impl class work still needs to be turned into a PR, and so does my SAM-always-one one

[2016-02-07 15:49] xeno-by commented on #78
Where do you guys publish nightly builds of 2.12.x? I just cloned and compiler the 2.12.x branch of paradise and everything worked just fine.

My `sbt update` says `[info] 'compiler-interface' not yet compiled for Scala 2.12.0-20150526-104104-7b224c57c2. Compiling...`, which kinda hints at the fact that something is stale.

[2016-02-07 17:06] dwijnand commented on #78
@xeno-by Try this: https://github.com/scala/scala#tips--tricks

[2016-02-07 17:48] xeno-by commented on #78
Neat. What should I write instead of <...> in `set scalaVersion := "<milestone>-<sha7>-SNAPSHOT"`?

[2016-02-07 17:56] dwijnand commented on #78
Try `2.12.0-f48692d-SNAPSHOT`

[2016-02-07 18:42] xeno-by commented on #78
@SethTisue could you try again? Looks like I have forgotten to cherry-pick some fixups from the 2.12.0-M3 branch to 2.12.x.

[2016-02-08 10:12] milessabin commented on #78
What's the current status of this?

[2016-02-08 17:20] SethTisue commented on #78
new community build run: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/310/consoleFull (is 404 at the moment, while the Jenkins queue clears)

[2016-02-09 01:18] SethTisue commented on #78
yay, fixed. thanks @xeno-by

[2016-02-09 01:18] #78 closed

[2016-02-09 08:32] milessabin commented on #78
Thanks :-)

[2016-02-17 06:41] jeffrey-aguilera commented on #77
Is there any more information that I can provide to help move this issue forward?  Is this related to https://issues.scala-lang.org/browse/SI-7920 ?  In both cases, it seems that an internal `ClassDef` does not have `symbol` defined.

[2016-02-20 14:37] xeno-by commented on #77
@jeffrey-aguilera Hi again! Sorry I'm behind my email, because these days I'm travelling a lot. How urgent is this issue for you? Next week I'll be flying again, so I'll be able to take a good look only in the very end of February. Does this sound good?

[2016-02-21 05:31] jeffrey-aguilera commented on #77
I have found a work-around, which might also provide some clues to solving the problem. (It might be related to the call-by-name context where the anonymous class was instantiated.)  I will provide details on the original ticket this week.

Since I have a work-around, the urgency is nil.

Thanks for all your hard work on scala macros and meta programming.

Best regards,
Jeffrey Aguilera

On Feb 20

[2016-06-20 10:23] alexeyr opened #79 "Can't use a macro annotation class as a normal type in the compilation unit it's defined in"
I have a macro annotation with parameters: `class AnnotationType(...) extends StaticAnnotation`. Since `c.prefix.tree` in the macro implementation is the tree for the annotation constructor, I've tried
`c.eval(c.Expr[AnnotationType](c.prefix.tree))` and `c.eval(c.prefix.asInstanceOf[c.Expr[AnnotationType]]`.
The compiler complains that it can't expand `AnnotationType` even though it isn't used as

[2016-06-20 12:31] xeno-by commented on #79
This is a limitation of how macro annotation expansion is implemented for scalac.

I'd like to detect situations when a user forgot to enable the macro paradise plugin and, as a result, their annotations have spuriously failed to expand. There's the `@compileTimeOnly` annotation that can be used for this, but unfortunately it not only produces errors on usages of macro annotations in annotation po

[2016-06-21 06:31] alexeyr commented on #79
Unfortunately, it doesn't work without `@compileTimeOnly` either.

[2016-06-21 07:02] xeno-by commented on #79
That's because the paradise plugin automatically adds the `@compileTimeOnly` annotation to macro annotations.

[2016-07-25 16:03] aishfenton opened #80 "equalsStructure is incorrect in some cases"
Annotations cause equalsStructure to return false

[code]

Whereas this works as expected.

[code]

Also while loops seem to have the same issue, raised in a SO question [here](http://stackoverflow.com/questions/34674703/while-loops-generated-via-scala-macros-are-not-equal)

[2016-07-26 21:11] xeno-by commented on #80
Thanks for the report! I'll try to find time to look into this.

In the meanwhile, consider using showRaw since it is more reliable. You will probably have to postprocess synthetic names, because some language constructs like `while` do gensym, but personally I find showRaw more reliable.

Example of how `while` works:

[code]

[2016-07-31 20:36] aishfenton commented on #80
Thanks Xeno. Can confirm showRaw is working better for me.

[2016-09-08 04:20] adampauls opened #82 "Crash in patchedCompanionSymbolOf in Scala IDE."
I am seeing a lot exception from the presentation compiler in the Scala IDE that look like the one below. It happens across many classes, and as you can see, it often fails to complete standard library classes. I can't tell if this is a problem in the paradise plugin or in the presentation compiler (or simply the interaction between the two). It sounds like the Scala IDE aren't planning on support

[2016-09-10 20:52] cornerman opened #83 "Require paradise plugin in tools.reflect.toolbox"
In a project, I want to expand macros in tests using `tools.reflect.toolbox`. In order to be able to use the paradise compiler plugin, I need to specify the `-Xplugin` and `-Xplugin-require` options when creating the toolbox. The latter option needs a path to the paradise.jar, currently I still use [this code](https://github.com/cornerman/macroni/blob/master/src/main/scala/compiler/Compiler.scala#

[2016-09-11 12:06] xeno-by commented on #83
You could try writing a macro that inspects compilation arguments: https://github.com/scala/scala/blob/1706a37eb84ec252aea77bccebad3e48448534ad/src/compiler/scala/reflect/macros/contexts/Infrastructure.scala#L13. Then, the path to the compiler plugin will be compiled into executable code.

[2016-09-11 15:38] BennyHill opened #84 "Release 2.12.0-RC1"
So that we can get other deps up to date, please

[2016-09-11 15:42] cornerman commented on #83
Thank you! That works, I have created a [small macro that just returns the compilersettings](https://github.com/cornerman/macroni/blob/master/macros/src/main/scala/CompilerSettings.scala). From there I can just filter all `-Xplugin` options.

[2016-09-11 15:42] #83 closed

[2016-09-11 16:45] dwijnand commented on #84
It was released on Thursday:

http://search.maven.org/#artifactdetails%7Corg.scalamacros%7Cparadise_2.12.0-RC1%7C2.1.0%7Cjar

[2016-09-11 16:49] ghost commented on #84
Ah, my apologies and thank you!!

[2016-10-01 14:16] BennyHill opened #85 "Possible 2.12 regression"
Ref https://issues.scala-lang.org/browse/SI-9923

Looks like https://github.com/scalamacros/paradise/commit/cd61e7a163049d97132d76627d57399002e2e5d4 never made it to 2.12.

[2016-10-01 14:21] ghost commented on #85
Also looks like https://github.com/scalamacros/paradise/commit/c14c634923313dd03f4f483be3d7782a9b56de0e missed the cut, too

[2016-10-02 17:00] xeno-by commented on #85
Thank you for debugging! I'll get to this first thing when I come back from vacation.

[2016-10-02 18:36] ghost commented on #85
You'll have to thank @som-snytt for all the debugging, I'm just the messenger,

Enjoy your hols :smile:

[2016-10-12 17:54] adriaanm opened #86 "2.12.0-RC1 branch has deprecation warning + `-Xfatal-warnings`"
good: 0df362a (https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/672/consoleFull)
[code]

bad: bce8f04
[code]

[2016-10-12 18:06] adriaanm commented on #86
Not sure why `@deprecated` is needed in https://github.com/scalamacros/paradise/blob/2.12.0-RC1/tests/src/test/scala/annotations/run/issue48/Test1.scala? Worked around for RC2 community build: https://github.com/adriaanm/paradise/commit/af61abbf25482755dabcbaffd4591db554662577

[2016-10-12 19:40] xeno-by commented on #86
I think that `@deprecated` was there just because it's an annotation. I'll replace it with some other annotation.

[2016-10-12 19:44] #86 closed

[2016-10-15 11:18] xeno-by commented on #86
Fixed in paradise 2.1.0 for 2.12.0-RC2.

[2016-10-15 11:18] xeno-by commented on #85
Fixed in paradise 2.1.0 for 2.12.0-RC2.

[2016-10-15 11:18] #85 closed

[2016-10-18 15:37] SethTisue commented on #85
your dependencies (ScalaTest and ScalaCheck) have now been published for 2.12.0-RC2.

[2016-10-18 19:08] xeno-by commented on #85
Released paradise 2.1.0 for 2.12.0-RC2: https://oss.sonatype.org/content/repositories/releases/org/scalamacros/paradise_2.12.0-RC2/.

[2016-11-01 11:06] etorreborre opened #87 "Release for 2.12.0"
Can we have a release for Scala 2.12 final please?

[Shapeless #651](https://github.com/milessabin/shapeless/issues/651) relies on it. Thanks!

[2016-11-01 11:08] xeno-by commented on #87
I'm blocked by https://github.com/scalatest/scalatest/issues/989. Otherwise, I'm ready to publish.

[2016-11-02 04:49] xeno-by commented on #87
https://oss.sonatype.org/content/repositories/releases/org/scalamacros/paradise_2.12.0/

[2016-11-02 04:49] #87 closed

[2016-11-02 13:59] SethTisue opened #88 "with latest 2.12.1 nightly, "class scala.IndexOutOfBoundsException not found""
this was found by the Scala 2.12 community build, but can be reproduced independently, on the 2.12.0 branch of paradise, with:

[code]

resulting in a lot of repeated errors like:

[code]

[2016-11-07 21:37] SethTisue commented on #88
@xeno-by are you available to look at this? if this is an issue for Scala 2.12.1, we'll need to know soon. also, this is making every 2.12.x Scala community build fail.

[2016-11-07 21:38] xeno-by commented on #88
I will do that tomorrow. Been travelling the last week.

[2016-11-13 21:53] xeno-by commented on #88
@SethTisue @adriaanm What resolver should I use?

[code]

[2016-11-14 03:05] SethTisue commented on #88
[code]

[2016-11-16 04:08] SethTisue commented on #88
I noticed I was answering this question a lot, so: http://stackoverflow.com/questions/40622878/how-do-i-tell-sbt-to-use-a-nightly-build-of-scala-2-11-or-2-12

[2016-11-22 20:38] xeno-by commented on #88
Can reproduce. Will investigate now.

[2016-11-22 21:12] xeno-by commented on #88
It turns out that paradise itself is fine.

It's the code of the test macro that changed behavior. After I fixed the test, everything became green again. See https://github.com/scalamacros/paradise/commit/a976e750e15078fb19f0007b1d1c64e6acb6da87 for more information.

[2016-11-22 21:12] #88 closed

[2016-11-22 21:54] SethTisue commented on #88
thanks Eugene! looking good over at https://github.com/scala/community-builds/pull/404

[2016-11-24 01:45] retronym commented on #68
I've create a minimal reproduction of this problem: https://gist.github.com/retronym/1159dd01f2e1c0b26a3601030bfd2579

[2016-12-03 17:38] SethTisue opened #89 "branch Scala 2.11 community build was using went away"
there used to be a 2.11.x branch that the community build was tracking. the commit we were using 1e7f980e5b63c3bc6b416ccceab71d6021f05d09, doesn't seem to be on any branch anymore. if I try to use your 2.11.8 branch, I get the compiler crash you see at https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/429/console

[2016-12-03 22:58] xeno-by commented on #89
I gave up on n.mm.x branches, because I'm having hard time to even keep up with stable releases, let alone unstable snapshots :) I'm sorry to hear this broke the community build.

How do I reproduce the crash? Which version of Scala should I use?

[2016-12-03 23:36] xeno-by commented on #89
Allright, can reproduce with https://github.com/scalamacros/paradise/commit/a83336ede12a16ccd92191cb195642e7471b52d2:

[code]

[code]

[2016-12-04 00:08] xeno-by commented on #89
Looks like I erroneously merged https://github.com/scalamacros/paradise/pull/81, and that was crashing tests. I reverted the merge. Try again with the `2.11.9` branch.

[2016-12-04 00:08] #89 closed

[2017-02-10 17:22] #76 closed

[2017-02-18 18:36] Philippus opened #90 "double @compileTimeOnly annotations"
The @compileTimeOnly annotation is added even if it is already in the class definition, so you end up with two @compileTimeOnly annotations.

see https://issues.scala-lang.org/browse/SI-10126

[2017-02-18 18:46] Philippus commented on #90
let me know if you really find it an issue and if so have any comments on the PR.

[2017-03-16 20:30] japgolly opened #93 "Annotated classes receive unwanted companion object"
With Scala 2.12 and Macro Paradise 2.1.0, the following snippet:
[code]
results in this compilation error:
[code]

This issue originally raised as https://github.com/scala-js/scala-js/issues/2806.

[2017-03-29 14:44] golem131 opened #94 "Release for scala 2.11.9"
Please, release for Scala 2.11.9

[2017-03-30 16:23] xeno-by commented on #94
Thanks for the ping! Done: https://oss.sonatype.org/content/repositories/releases/org/scalamacros/paradise_2.11.9/

[2017-03-30 16:23] #94 closed

[2017-04-04 08:58] #90 closed

[2017-04-05 19:15] adriaanm opened #95 "Catchup with 2.11.10?"
Not sure you need it, but my namers changes had a bug, fixed in 2.11.10: https://github.com/scala/scala/pull/5828

[2017-04-06 05:51] xeno-by commented on #95
Thanks for reaching out! Luckily for us, paradise is unaffected by this change.

[2017-04-06 05:51] #95 closed

[2017-04-11 01:55] SethTisue opened #96 "2.12.2 compat: same apply/unapply stuff as 2.11.11"
13017a2aa338dbf16ce5fb5b3bc6972f11c79fe8 is now needed on 2.12.2 branch too, I believe, judging from e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1408/consoleFull

[2017-04-17 20:50] SethTisue commented on #96
fixed in recent commits on the 2.12.2 branch

[2017-04-17 20:50] #96 closed

[2017-04-20 13:59] milessabin opened #97 "Release for 2.13.0-M1"
My corner of the ecosystem can't move on to 2.13.x without it ...

[2017-04-20 14:33] xeno-by commented on #97
I had a suspicion I forgot about something in this flurry of 2.11.x and 2.12.x releases...

I'll take a stab at producing a 2.13.x build of paradise after my ScalaDays Chicago talk. I may have time to do that before, but can't promise that, because the talk isn't fully ready yet.

[2017-04-24 02:31] xeno-by commented on #97
Is there a 2.13.0-M1 based build of scalatest? /cc @bvenners @cheeseng

[2017-04-24 04:55] xeno-by commented on #97
I've just migrated from scalatest to junit: https://github.com/scalamacros/paradise/commit/fe17d2651310bedc30c9a3d15e2fbad8c0818935. This should make future releases much easier :)

[2017-04-24 05:02] xeno-by commented on #97
https://oss.sonatype.org/content/repositories/releases/org/scalamacros/paradise_2.13.0-M1/

[2017-04-24 05:02] #97 closed

[2017-04-24 05:37] bvenners commented on #97
Sorry Eugene, I was on a plane when you asked and Chee Seng was not online yet. Unfortunately I didn't know about the 2.13.0-M1 release. I asked Chee Seng to do a build today.

[2017-04-24 12:09] cheeseng commented on #97
@xeno-by @bvenners Sorry Eugene, I just published 3.0.3 for Scala 2.13.0-M1, FYI scala-js build is not available yet as it seems we need to wait for 0.6.16:

https://github.com/scala-js/scala-js/issues/2898

[2017-04-24 12:26] xeno-by commented on #97
Thank you, @bvenners @cheeseng!

[2017-05-03 14:09] SethTisue opened #98 "regression: 2.12.3 source compat issue with `Namers._lockedCount`"
in scala/scala@47d35913c1aa16c1f3fb3bc4c3166daa0df93af8 @retronym renamed `_lockedCount` which paradise is using ~~in the `test` subproject~~:

[code]

as seen at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1480/consoleFull

[2017-05-03 15:57] SethTisue commented on #98
(I mistakenly thought this was just in a subproject I could disable, but no, it's in the main code)

[2017-05-03 16:01] SethTisue commented on #98
reproducible outside the community build with the https://scala-ci.typesafe.com/artifactory/scala-integration/ resolver and:

[code]

[2017-05-03 17:30] xeno-by commented on #98
Hmm.

When's the release date for 2.12.3? I'm thinking that instead of fixing the divergencies over and over again, I should just try and submit a PR that folds paradise into scalac as discussed with @adriaanm.

[2017-05-03 17:35] adriaanm commented on #98
The release is schedule for end of June. For a bigger change like this, we'd have to get the PR in the first week of June.

[2017-05-03 20:16] SethTisue commented on #98
working around it for now in the community build with https://github.com/scalacommunitybuild/paradise/commit/f025f9cacea47916b2c64ad7213adc6b1b025378 (@xeno-by which you might want to grab onto a 2.12.3 branch) and https://github.com/scala/community-builds/commit/78c12c8782a94e4122481e1da5bb192354302e77

[2017-05-10 12:04] milessabin commented on #98
I'd be happy to merge a PR folding paradise into scalac into Typelevel Scala and make a release more or less immediately.

[2017-06-14 14:18] dragos opened #99 "Macroparadise can't be used by command-line scalac"
..because it depends on the scala-repl, which isn't by default in the runner script.

[code]

[2017-06-14 17:16] xeno-by commented on #99
Wow nice catch! Looks like we should use reflection to make repl-specific and maybe also scaladoc-specific parts of the code more robust. Is this a blocker for you?

[2017-06-14 20:55] dragos commented on #99
Thanks for the quick answer. It's more of a "nice to have" than a blocker, I'm often testing/debugging outside of Sbt on real-life projects. I can work around by manually adding the Repl to the classpath.

[2017-06-29 19:14] cornerman opened #100 "Illegal cyclic reference in 2.12 when typechecking in macro"
I have a macro annotation with paradise, which typechecks an annotated `ValDef`. It compiles in scala `2.11.11`, but gives an `illegal cyclic reference` error in `2.12.2`. I am not sure whether this a scala bug or because of paradise. A short example:

[code]

Using this annotation on a `val`:
[code]

In `2.12.2`, this leads to an `illegal cyclic reference` error:
[code]

This is the failing code:

[2017-07-28 09:24] milessabin opened #101 "Release for 2.13.0-M2"

[2017-07-29 22:20] xeno-by opened #102 "REPL integration broken in 2.13.0-M2"
Looks like the recent REPL refactoring in 2.13.0-M2 broke the way how macro annotations integrate with REPL (https://github.com/scalamacros/paradise/blob/2.13.0-M1/plugin/src/main/scala/org/scalamacros/paradise/reflect/ReplIntegration.scala). From what I can tell, there is no way to implement the same functionality now.

@adriaanm Can we have a stable extension point that would achieve the same ef

[2017-07-29 22:45] xeno-by commented on #101
https://oss.sonatype.org/content/repositories/releases/org/scalamacros/paradise_2.13.0-M2/

There's one regression that I don't know how to fix yet: https://github.com/scalamacros/paradise/issues/102.

[2017-07-29 22:45] #101 closed

[2017-07-30 16:44] xeno-by commented on #102
Superseded by https://github.com/scala/scala-dev/issues/410.

[2017-07-30 16:44] #102 closed

[2017-08-14 00:30] chipsenkbeil opened #103 "Unimplemented members for methods in generated class"
My problem is that my generated class' members are not getting recognised as implemented. This is currently using Scala 2.10, but I plan to refactor it for 2.11/2.12 once I get this implementation working. Using macroparadise 2.10.

Goal of this was to mark the some traits as __freezable__ and generate an implementation class for each that takes `scala.util.Try` for each method that is freezable t

[2017-08-14 05:31] chipsenkbeil commented on #103
Update in that now it compiles to the same level with 2.10, 2.11, and 2.12.

See https://github.com/chipsenkbeil/scala-debugger/blob/AddFreezableMacroSupport/scala-debugger-macros/src/main/scala/org/scaladebugger/macros/freeze/FreezableMacro.scala

Still can't get the compiler to recognise my filled in methods. Considering only generated code is referencing the generated class, I would have though

[2017-08-16 02:52] chipsenkbeil commented on #103
Figured it out. I was creating the methods and implementing their bodies, but reusing the old modifiers of each method and just tacking on the `Flag.OVERRIDE: FlagSet`. Turns out unimplemented methods have a `Flag.DEFERRED` on them, so I was producing a `Modifiers(OVERRIDE | DEFERRED)`, which didn't make sense considering it had a body.

[2017-08-16 02:52] #103 closed

[2017-08-24 10:22] fommil opened #104 "position information on failure"
My macro can generate code that will not compile if the user does not provide the required implicit evidence. This is a user error, but it is **exceptionally** difficult to track down problems in a large codebase when the position of the error is `<macro>:1:` and there is no further hint as to what went wrong.

As a hack, even if I could include a comment that would be useful.

[2017-08-28 12:43] fommil opened #105 "option to ignore (not even strip) annotation macros in the PC"
Annotation macros don't really work in the PC, but that's ok in most cases because generated members are picked up with the code is compiled.

However, even if a macro annotation is not done in the PC, basic functionality like type-at-point is broken for the class with the annotation. The only remedy is to not use macro-paradise (which obviously causes problems for other non-annotation macros that

[2017-10-12 08:47] BMEJ opened #106 "-Xplugin does behave as expected?"
Hello,

I was trying to follow the first step of https://docs.scala-lang.org/overviews/macros/paradise.html but with scala 2.12.3. However, it does not seem to behave as on the linked page (I do not see the macroparadise in the list of phases). Is this expected?

[code]

[2017-10-19 15:45] TimothyKlim opened #107 "Scala 2.12.4 support"
/cc @xeno-by

[2017-10-19 17:01] xeno-by commented on #107
https://oss.sonatype.org/content/repositories/releases/org/scalamacros/paradise_2.12.4/

[2017-10-19 17:01] #107 closed

[2017-10-19 17:02] xeno-by commented on #106
Hmm, clearly something's not right here. I don't have time to debug right now, but maybe this is related to 2.12.x changes in compiler plugin loading?

[2017-10-19 22:19] ruippeixotog opened #108 "Release for Scala 2.10.7 and 2.11.12"
cc @xeno-by

[2017-10-20 09:15] fsvehla opened #109 "Release for Scala 2.12.4"
Scala 2.12.4 was just released.

[2017-10-20 19:21] ruippeixotog commented on #109
There's already a macro-paradise version for Scala 2.12.4 (#107).

[2017-10-20 19:55] xeno-by commented on #109
I can confirm that.

[2017-10-20 19:55] #109 closed

[2017-10-21 04:45] xeno-by commented on #108
Have these Scala versions been officially released?

[2017-10-22 19:27] ruippeixotog commented on #108
My bad... I thought they were released together with Scala 2.12.4 because of [this comment](https://github.com/scala/scala-dev/issues/432#issuecomment-337302356), but it seems that they aren't yet on Maven. https://github.com/scala/scala-dev/issues/434 and https://github.com/scala/scala-dev/issues/433 are still open, too.

Feel free to close this until those versions are released or leave this ope

[2017-10-22 19:30] xeno-by commented on #108
Let's keep this ticket open. Can you please ping me once 2.10.7 and 2.11.12 are released?

[2017-10-22 19:32] ruippeixotog commented on #108
Sure!

[2017-10-23 07:36] ngbinh opened #110 "Release for scala 2.12.4"
It has been released https://www.scala-lang.org/news/2.12.4

[2017-10-23 18:08] xeno-by commented on #110
Duplicate of https://github.com/scalamacros/paradise/issues/107.

[2017-10-23 18:08] #110 closed

[2017-11-06 18:37] adriaanm commented on #108
🔔

[2017-11-06 19:36] xeno-by commented on #108
:heart:

[2017-11-06 23:36] xeno-by commented on #108
Released.

[2017-11-06 23:36] #108 closed

[2017-12-18 18:49] milessabin opened #111 "quasiquotes 2.1.1 not published for 2.10.7?"
It looks like the POM for paradise_2.10 2.1.1 is expecting quasiquotes 2.1.1, but the latter doesn't appear to be available on central.

[2017-12-19 23:11] xeno-by commented on #111
No idea how this could've fallen through the cracks. Now fixed: https://oss.sonatype.org/content/repositories/releases/org/scalamacros/quasiquotes_2.10/2.1.1/.

[2017-12-19 23:11] #111 closed

[2017-12-20 11:44] milessabin commented on #111
Thanks!

[2018-01-03 01:08] gabrieljones commented on #111
There is an error message that might need fixing as well:

`Quasiquotes in macro paradise for Scala 2.10 require a dependency on a supporting library. Add the following line to your SBT build: libraryDependencies += "org.scalamacros" %% "quasiquotes" % "2.1.0-SNAPSHOT"`

should probably read:

`Quasiquotes in macro paradise for Scala 2.10 require a dependency on a supporting library. Add the follo

[2018-01-03 01:50] xeno-by commented on #111
Oops. I'll try to remember to fix this in the next release!

[2018-02-02 14:12] fthomas opened #112 "Release for 2.13.0-M3"

[2018-02-03 03:04] xeno-by commented on #112
https://oss.sonatype.org/content/repositories/releases/org/scalamacros/paradise_2.13.0-M3/

[2018-02-03 03:04] #112 closed

[2018-02-03 05:01] fthomas commented on #112
Many thanks @xeno-by!

[2018-02-03 05:07] xeno-by commented on #112
My pleasure! 🤝

[2018-02-27 00:13] fommil commented on #8
this stung me recently when I wanted to create a custom predef.

[2018-03-14 00:59] SethTisue opened #114 "2.13 compat: bridgeAnnot is gone"
seen in Scala 2.13 community build at https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/991/consoleFull since https://github.com/scala/scala/pull/6319 was merged:

[code]

[2018-03-14 01:00] SethTisue commented on #98
fixed (a long while back) in 2c7f071ecd1d0e75b678fbdc81fc0e6e80042edf

[2018-03-14 01:00] #98 closed

[2018-03-14 02:04] NthPortal commented on #114
#113 hopefully fixes this

[2018-03-14 02:07] xeno-by commented on #114
@NthPortal Thanks for the pull request! I'll do my best to review it this week. If this is more urgent than "sometime this week", please let me know, and I'll try extra hard to find time.

[2018-03-22 17:41] #114 closed

[2018-03-22 22:06] fommil commented on #105
It seems that monocle prefers to have macro-paradise enabled in the PC, but simulacrum does not.

It would be good to get to the bottom of why and have one mode enabled but the other disabled.

[2018-04-30 13:07] zy4 opened #116 "2.12.6"
`[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	::          UNRESOLVED DEPENDENCIES         ::
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	:: org.scalamacros#paradise_2.12.6;2.1.0: not found
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] `

[2018-04-30 15:40] coltfred commented on #116
This is indeed a blocker for many projects. I know @rossabaker is blocked for http4s. Anything that uses Simulacrum is also blocked (meaning most of the typelevel builds).

[2018-05-01 09:26] adriaanm commented on #116
2.1.0 for 2.12.6 is available via resolver https://oss.sonatype.org/content/repositories/staging/ -- since this is my first time releasing this project, would be good to hear if it works before releasing to maven central

[2018-05-01 09:28] adriaanm commented on #116
I saw there's also a 2.1.1 for 2.12.5, so I'm not sure if this is right

[2018-05-01 09:33] adriaanm commented on #116
I checked the bytecode for 2.1.0 and 2.1.1 on 2.12.5, and there's no difference as far as I can see

[2018-05-01 14:31] fthomas commented on #116
@adriaanm It works for me: https://github.com/fthomas/refined/pull/490

[2018-05-01 14:32] adriaanm commented on #116
Thanks! Promoting :-)

[2018-05-01 15:23] zy4 commented on #116
Works for me too. Can be closed now!

[2018-06-11 16:28] rparree opened #117 "Double(?) import breaks macro application?"
I had an issue today with macros in Binding.scala (see https://github.com/ThoughtWorksInc/Binding.scala/issues/82)

Is this behaviour known?

[2018-06-19 03:13] marcospereira opened #118 "Release for 2.13.0-M4"

[2018-07-01 06:39] xuwei-k commented on #118
- https://github.com/scala/scala/pull/6606
- https://github.com/milessabin/macro-compat/commit/b1bbe40105a649abf35511fe8e7de4c0419192f7#diff-04c6e90faac2675aa89e2176d2eec7d8R115

[2018-07-10 21:34] SethTisue commented on #118
this ticket should be closed. as of Scala 2.13.0-M4, macro paradise is part of the compiler, enabled with `-Ymacro-annotations`

[2018-07-25 18:14] xeno-by commented on #118
@SethTisue I've added you to admins of the repository. Please feel free to open/close tickets, create branches, etc.

[2018-07-25 18:20] #118 closed

[2018-07-25 18:21] SethTisue commented on #61
assuming obsolete, if that's wrong let's discuss

[2018-07-25 18:21] #61 closed

[2018-09-01 12:49] #104 closed

[2018-09-01 12:50] #105 closed

[2018-09-27 17:04] SethTisue opened #119 "Publish for Scala 2.12.7"
@adriaanm you did 2.12.6, do you plan to do this one as well...?

[2018-09-27 17:06] SethTisue commented on #119
"already done", says Adriaan

[2018-09-27 17:06] #119 closed

[2019-08-05 21:19] eatkins opened #120 "Publish for 2.12.9"
I know this isn't maintained anymore, but if it isn't too much work, I think it should be published for 2.12.9.

[2019-08-05 21:40] SethTisue commented on #120
@adriaanm this goes on your plate, I think?

@eatkins while you're waiting, you might try just using the 2.12.8 one and see if it works on 2.12.9 as well. (perhaps none of the compiler internals changes we made actually affected paradise.)

[2019-08-05 21:50] eed3si9n commented on #120
I've pinged Adriaan earlier, so this should happen within a day or two.

[2019-08-06 02:46] regadas commented on #120
tested `paradise` `2.12.8` with `2.12.9` on [spotify/scio](https://github.com/spotify/scio) and it seems ok! 👍

[2019-08-06 09:37] adriaanm commented on #120
Now available on [maven central](http://central.maven.org/maven2/org/scalamacros/paradise_2.12.9/). https://github.com/scalamacros/paradise/releases/tag/v2.1.0_2.12.9

[2019-08-06 09:37] #120 closed

[2019-09-11 00:54] exoego opened #121 "Publish for Scala 2.12.10"
[Scala 2.12.10 is out there](https://github.com/scala/scala/releases/tag/v2.12.10).
Assuming macroparadise is maintained for Scala 2.12.x.
Thanks in advance.

[2019-09-11 01:03] SethTisue commented on #121
this is @adriaanm's wheelhouse

[2019-09-11 08:06] adriaanm commented on #121
Yep will do today.

[2019-09-13 07:06] olafurpg commented on #121
Close ticket? Artifacts seem to be on Maven already, thanks!

[code]

[2019-09-13 07:09] exoego commented on #121
Thanks!!
Closing since released.

[2019-09-13 07:09] #121 closed

[2019-09-13 08:04] adriaanm commented on #121
👍

[2020-09-28 08:58] martinffx opened #125 "Support Scala 2.12.12"
Would be great if we could do a build to support Scala 2.12.12

Happy to whip up a PR if someone can point me in the right direction?

[2020-09-29 20:08] SethTisue commented on #125
there is one: https://search.maven.org/artifact/org.scalamacros/paradise_2.12.12/2.1.1/jar

[2020-09-29 20:08] #125 closed

[2021-05-28 04:56] xuwei-k opened #126 "publish for Scala 2.12.14"

[2021-05-28 14:56] #126 closed

[2022-09-14 21:18] SethTisue opened #129 "Publish for Scala 2.12.17"

[2022-09-14 21:35] SethTisue commented on #129
[code]

[2022-09-14 21:36] SethTisue commented on #129
waiting for artifacts to show up at https://repo1.maven.org/maven2/org/scalamacros/paradise_2.12.17/2.1.1/

[2022-09-14 23:56] SethTisue commented on #129
oh, I needed to go to oss.sonatype.org and close and release the staging repo (04adad19151cc16ae9cc6bff6f394e1cfe69ab98 updates the release steps to explicitly say so)

the Nexus web UI is extremely laggy at the moment... it took several minutes before I was even able to see that the staging repo existed

anyway, done. waiting again.

[2022-09-15 00:02] SethTisue commented on #129
🚀

[2022-09-15 00:02] #129 closed